---
layout: null
---

{% assign mercNames = mercs|map:0 %}
{% assign newm = mercs[mer] %}
{% assign slots = "primary secondary melee pda pda2 sapper"|split:" " %}
{% assign ignoreAtt = "name slot image changed why weaponType"|split:" " %}
<link rel="stylesheet" href="{{site.assets.folder}}/styles/chalkboard.css">
<link rel="stylesheet" href="{{site.assets.folder}}/styles/backpack.css">
<link rel="stylesheet" href="{{site.assets.folder}}/styles/balance.css" >
<div>
	{% for item in backpack %}
	<link href="{{site.assets.folder}}/images/backpack/{{ item }}" rel="prefetch">
	{% endfor %}
</div>

<div class="class-choices">
	<center>
		<ul class="class-grid">
			{% for merc in mercs %}
			<li>
				{%- comment -%}Incase the icon property gets removed from mercs.json{%- endcomment -%}
				{% capture default_icon %}
				{{site.assets.folder}}/images/class_icons/Leaderboard_class_{{merc[0]}}.png
				{% endcapture %}
				<a class="class-button" href="#class-list"
					onclick="document.getElementById('item-showcase').dataset.merc ='{{merc[0]}}'"><img
						class="class-button-image" alt="{{merc[0]}}" src="{{merc[1].icon | default: default_icon}}"></a>
			</li>
			{% endfor %}
		</ul>
	</center>
</div>


<div class="layout" id="item-showcase">
	<div class="item-choices col col-2">
		<div class="item-grid">
			{% comment %}blop{% endcomment %}
			{% for slot in slots %}
			{% comment %}get weapons of slot{% endcomment %}
			{% for wepData in newweapons %}
			{%- comment -%}["wepid",{wepData}]{%- endcomment -%}
			{% assign wepId = wepData[0] %}
			{% assign wep = wepData[1] %}
			{% if forloop.first %}
			<div class="{% for mer in mercs %}{% unless mer[1][slot] == "" %}{{mer[0]}} {% endunless %}{% endfor %}">
				&nbsp;&nbsp;&nbsp;{{slot}}<ul>
					{% endif %}
					{% if wep.slot == slot or wep.slot[0] and wep.slot contains slot %}
					<li
						class="{% for mer in mercs %}{% if mer[1][slot] contains wepId %}{{mer[0]}} {% endif %}{% endfor %}">
						<button class="item-button"
							onclick="document.getElementById('item-showcase').dataset.wep ='{{wepId}}'">
							<img class="item-button-image" src="{{wep.image}}" alt="{{wepId}}">
							{% if wep.changed != 0 %}
							<div class="new-text{% if wep.changed != 1 %} {{wep.changed}}{%endif%}">New!</div>
							{% endif %}
						</button>
					</li>
					{% endif %}
					{% if forloop.last %}
				</ul>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
	<table id="sidebar-constraint" class="col col-1">
		<tr>
			<td>
				<div class="stat-item-wrapper">
					<div class="stat-item-box">

						{% for wep in newweapons %}
						<center class="{{wep[0]}}">
							<div class="stat-item-preview">
								<img alt="{{wep[0]}}" height="90" src="{{wep[1].image}}" width="90">
								<div class="compare">
									<center>
										<button id="c-btn"
											onclick="let ds = document.getElementById('item-showcase').dataset;ds.ch=ds.ch=='default'?'changed':'default'"><img
												src="{{site.assets.folder}}/images/cycle.webp"></button>
									</center>
								</div>
							</div>
						</center>
						{% endfor %}

						{% for wep in newweapons %}
						<div class="stat-item-infobox changed {{wep[0]}}">
							<div class="att-name">{{wep[1].name}}</div>
							<div class="stat-item-description">
								{% for att in wep[1] %}
								{% unless ignoreAtt contains att[0] %}
								{% if att[1] and att[1] != "" %}
								<div class="att-{{att[0]}}">
									<ul>
										{% for value in att[1] %}
										{% comment %}
										its either [value,value...] or{key:value,key:value...}
										{% endcomment %}
										{% if value[0] %}
										{% comment %} its {key:value,key:value...}{% endcomment %}
										{% assign merc=value[0] %}
										{% for line in value[1] %}
										<li class="{{merc}}">{{line}}</li>
										{% else %}
										<li class="{{merc}}">{{value[1]}}</li>
										{% endfor %}
										{% else %}
										{% comment %}its [value,value...]{% endcomment %}
										<li>{{value}}</li>
										{% endif %}
										{% else %}
										{% comment %}its just "value"{% endcomment %}
										{{value}}
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								{% endunless %}
								{% endfor %}
							</div>
						</div>


						{% endfor %}

						{% for wep in defaultweapons %}
						<div class="stat-item-infobox default {{wep[0]}}">
							<div class="att-name">{{wep[1].name}}
								(Old)</div>
							<div class="stat-item-description">
								{% for att in wep[1] %}
								{% unless ignoreAtt contains att[0] %}
								{% if att[1] and att[1] != "" %}
								<div class="att-{{att[0]}}">
									<ul>
										{% for value in att[1] %}
										{% if value[0] %}
										{% assign merc=value[0] %}
										{% for line in value[1] %}
										<li class="{{merc}}">{{line}}</li>
										{% else %}
										<li class="{{merc}}">{{value[1]}}</li>
										{% endfor %}
										{% else %}
										<li>{{value}}</li>
										{% endif %}
										{% else %}
										{{att[1]}}
										{% endfor %}
									</ul>
								</div>
								{% endif %}
								{% endunless %}
								{% endfor %}
							</div>
						</div>

						{% endfor %}
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>

				{% for wep in newweapons %}
				{% if wep[1].why and wep[1].why !="" %}

				{% for value in wep[1].why %}
				{% if value[0] %}
				{% assign merc=value[0] %}
				{% for line in value[1] %}
				<span class="{{merc}}">
					<div class="why-box {{ wep[0] }}">{{line}}</div>
				</span>
				{% else %}
				<span class="{{merc}}">
					<div class="why-box {{ wep[0] }}">{{value[1]}}</div>
				</span>
				{% endfor %}
				{% else %}
				<div class="why-box {{ wep[0] }}">{{value}}</div>
				{% endif %}
				{% else %}
				<div class="why-box {{ wep[0] }}">{{wep[1].why}}</div>
				{% endfor %}

				<!-- why-box {{ wep[0] }} -->
				{% endif %}
				{% endfor %}
			</td>
		</tr>
	</table>
</div>