---
layout: null
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/xsl/feed.xsl" type="text/xsl"?>
{% if page.xsl %}<?xml-stylesheet type="text/xml" href="{{ '/feed.xml' | url }}"?>
{% endif %}<feed xmlns="http://www.w3.org/2005/Atom" {% if site.lang %}xml:lang="{{ site.lang }}" {% endif %}>
	<generator uri="https://www.11ty.dev/" version="{{eleventy.version}}">Eleventy</generator>
	<link href="{{ page.url | url }}" rel="self" type="application/atom+xml" />
	<link href="{{ '/' | url }}" rel="alternate" type="text/html" {% if site.lang %}hreflang="{{ site.lang }}" {% endif %} />
	<updated>{{ site.time | date_to_xmlschema }}</updated>
	<id>{{ page.url | url | xml_escape }}</id>
	{% assign title = site.title | default: site.name %}
  {% if category %}
    {% assign category = category | capitalize %}
    {% assign title = title | append: " | " | append: category %}
  {% endif %}

  {% if title %}
	<title type="html">{{ title  | xml_escape }}</title>
	{% endif %}

  {% if site.description %}
	<subtitle>{{ site.description | xml_escape }}</subtitle>
	{% endif %}

  {% if site.author %}
	<author>
		<name>{{ site.author.name | default: site.author | xml_escape }}</name>
		{% if site.author.email %}
		<email>{{ site.author.email | xml_escape }}</email>
		{% endif %}
      {% if site.author.uri %}
		<uri>{{ site.author.uri | xml_escape }}</uri>
		{% endif %}
	</author>
	{% endif %}

    {% assign posts = collections.posts| sort: "date" | reverse %}
  {% unless site.show_drafts %}
    {% assign posts = posts  %}
  {% endunless %}
  {% assign posts = posts | sort: "date" | reverse %}
  {% assign posts_limit = site.feed.posts_limit | default: 10 %}
  {% for post in posts limit: posts_limit %}
	<entry {% if post.data.lang %} xml:lang="{{ post.data.lang }}" {% endif %}>
		{% assign post_title = post.data.title xml_escape %}
		{% assign post_html = post.templateContent |htmlToMd %}
		{% assign post_content = post|getRaw |default: post_html | xml_escape | strip %}
		<title type="html">{{ post_title| xml_escape }}</title>
		<link href="{{site.url}}{{ post.url | url }}" rel="alternate" type="text/html" title="{{ post_title| xml_escape }}" />
		<published>{{ post.date }}</published>
		<updated>{{ post.last_modified_at | default: post.date | date_to_xmlschema }}</updated>
		<id>{{site.url}}{{ post.url | url | xml_escape }}</id>
		{% assign excerpt_only = post.data.feed.excerpt_only | default: site.feed.excerpt_only %}
      {% unless excerpt_only %}
		<content type="html" xml:base="{{site.url}}{{ post.url | url | xml_escape }}">
			<![CDATA[{{ post_content| xml_escape }}]]>
		</content>
		{% endunless %}

      {% assign post_author = post.data.author | default: post.data.authors[0] | default: site.author %}
      {% assign post_author = staff.members | where: "title",post.data.author|first %}
      {% assign post_author_email = post_author.email | default: nil %}
      {% assign post_author_uri = post_author.url | default: nil %}
      {% assign post_author_icon = post_author.icon | default: nil %}
      {% assign post_author_name = post_author.title | default: post_author %}
		<author>
			<name>{{ post_author_name | default: "" | xml_escape }}</name>
			{% if post_author_email %}
			<email>{{ post_author_email | xml_escape }}</email>
			{% endif %}
        {% if post_author_uri %}
			<uri>{{ post_author_uri | xml_escape }}</uri>
			{% endif %}
			{% if post_author_icon %}
				<icon>{{ post_author_icon | xml_escape }}</icon>
				{% endif %}
		</author>
        {% for category in post.data.categories %}
		<category term="{{ category | xml_escape }}" />
		{% endfor %}

      {% for tag in post.data.tags %}
		<category term="{{ tag | xml_escape }}" />
		{% endfor %}

      {% comment %}{% assign post_summary = | default: item.data.excerpt | default: item.data.summary | default: item.data.description %}
      {% if post_summary and post_summary != empty %}
		<summary type="html">
			<![CDATA[{{ post_summary | strip_html | normalize_whitespace }}]]>
		</summary>
		{% endif %}{% endcomment %}

		<summary type="markdown">
			<![CDATA[{{ post_content }}]]>
		</summary>
		{% assign post_image = post.data.image.path | default: post.data.image %}
      {% if post_image %}
        {% unless post_image contains "://" %}
          {% assign post_image = post_image | url %}
        {% endunless %}
		<media:thumbnail xmlns:media="http://search.yahoo.com/mrss/" url="{{site.url}}{{ post_image | xml_escape }}" />
		<media:content medium="image" url="{{site.url}}{{ post_image | xml_escape }}" xmlns:media="http://search.yahoo.com/mrss/" />
		{% endif %}
	</entry>
	{% endfor %}
</feed>
