---
title: Manned Machines
excerpt: Here's some basic information on the manned machines gamemode
---

<div class="layout">

	<div class="col col-1"></div>
	<div class="col col-2">

		<center>
			<div>Here's some basic information on the manned machines gamemode</div>
			<div>To view the code of all the robots see <a href="https://github.com/higps/robogithub">here</a></div>
		</center>
		<div>This mod uses an assetpack to fix robot animations, cosmetic clipping issues, as well as adding custom
			voicelines. Download it here: <a href="{{site.url}}/robot_animation_fixes_v5.zip">here</a></div>
		<div>Place it in your tf/custom folder, if you have no custom folder, simply create it.</div>
		<div>If have an older version of the fixes, you can delete the older version.</div>
		<div> We run some of these: <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2688607722">custom maps</a>
		</div>
		</center>
	</div>

	<div class="col col-1"></div>
</div>
<div class="container">
	<div class="section_header">Chat Commands</div>

	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">

		</div>
		<div class="col col-2">

			<u>Robot Chat Commands:</u>
			<ol>
				<li>When on the robot team, type !cr or !changerobot in chat to open the robot menu. Robots are
					organized by their Robot Coin cost & their Robot Type.</li>
			</ol>

			<u>Human Chat Commands:</u>
			<ol>
				<li><i>Coming soon!</i></li>
			</ol>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>


<div class="container">
	<div class="section_header">Manned Machines Map Changes:</div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			All Engineers can build in more places, including spawn rooms and many previously inaccessible rooftops on
			some of your favorite maps!
			<p></p>
			Extra routes have been added in places for flanking, and doorways have expanded to have robots fit through!
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="container">
	<div class="section_header">General Weapon Changes</div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			All weapon changes from Balancemod.tf are present in Manned Machines. If you want to see the full list of
			changes, <a href="/moddedweapons">click here!</a>
			<p></p>
			All Engineers can now build Engi-Pads instead of regular Teleporters. Use +attack3 or your +reload command
			to activate Engi-Pads. This should give you an in-game notification that Engi-Pads are <b>
				<font color="green">ENABLED</font>
			</b> or <b>
				<font color="red">DISABLED</font>
			</b>. To build one, simply place a Teleporter Entrance or Exit when Engi-Pads are enabled. You can rotate
			the Teleporter to alternate between the Speed Pad and Jump Pad. For a video demonstration, <a
				href="https://www.youtube.com/watch?v=y3MN7j2fPUU">click here!</a>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="section_header">
	<h2>Humans</h2>
</div>
<div class="ta-center"><i>The squishy fleshy meatbags</i></div>

<div class="container">
	<div class="section_header">Human Team Changes</div>
	<div class="ta-center"><i>Sometimes 35 damage isn't enough</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			<b>Scout</b>
			<ul>
				<li>Respawn time set to 6 seconds. You will respawn shortly after the killcam ends.</li>
			</ul>
			<p></p>
			<b>Demoman</b>
			<ul>
				<li>All weapons deal +25% damage to all robots. This does NOT include Engineer buildings!</li>
			</ul>
			<p></p>
			<b>Heavy</b>
			<ul>
				<li>All Miniguns deal -20% damage to all robots.</li>
			</ul>
			<p></p>
			<b>Spy</b>
			<ul>
				<li>Instead of killing them instantly, backstabs deal high damage to robots. Robots cannot be sapped by
					any Sapper.</li>
			</ul>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="container">
	<div class="section_header">Human Team Strategy</div>
	<div class="ta-center"><i>Think of it as MvM! There are giant robots everywhere and there is that one guy who bought
			jump height!</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			Robots are slow and cannot contest several different areas at once. This means you can outrange the robots
			and force them into positions that are disadvantageous.
			<p></p>
			Working together with your teammates is the best strategy for taking down the robots. You can’t reliably
			beat any robot all by yourself!
			<p></p>
			Most robots deal reduced damage to buildings. Engineers can use their buildings to provide safe zones for
			their teammates and reliable damage against robots. Don’t be afraid to use Level 3 Sentries on Offense!
			<p></p>
			Since Robots cannot chase, you can just run by them and attack from behind. Some Engineers may prefer to
			place a Teleporter behind them as well!
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="section_header">
	<h2>Robots</h2>
</div>
<div class="ta-center"><i>Our new mechanical overlords</i></div>

<div class="container">
	<div class="section_header">Robot Types</div>
	<div class="ta-center"><i>Each robot has a unique type with different weapons and abilities</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">



			<b>Damage</b>
			<ul>
				<li>Deals damage consistently</li>
				<li>Most reliable at dealing with groups of humans</li>
				<li>Most straightforward to play</li>
				<li>Lacks specific utility compared to other robot types</li>
			</ul>
			<p></p>
			<b>Tank</b>
			<ul>
				<li>Lots of health, and damage resistance in some cases</li>
				<li>Deals massive damage in melee range</li>
				<li>Limited ranged options</li>
				<li>Some are weak to melee damage</li>
				<li>Can be avoided by simply running away</li>
			</ul>
			<p></p>
			<b>Disrupter</b>
			<ul>

				<li>Largely gimmick based robots, <i>but all gimmicks have a weakness…</i></li>
				<li>Harasses the humans easily from any range</li>
				<li>Highest mobility of all robots</li>
				<li>Provides an additional robot-coins on death</li>
			</ul>
			<p></p>
			<b>Healer / Support</b>
			<ul>
				<li>Assists the team through healing or specifically killing a single target</li>
				<li>Low combat ability when alone</li>
				<li>Needs support from other robot types to be successful</li>
			</ul>
			<p></p>
			<b>ZBoss</b>
			<ul>
				<li>Crit boosted, high health, and extremely dangerous</li>
				<li>Costs the most amount of robot coins and serves as “final boss” of each round</li>
				<li>Can't be healed, <b>any damage they take is permanent.</b></li>
			</ul>
			<p></p>


			<div class="col col-0_5"></div>
		</div>
	</div>

	<div class="container">
		<div class="section_header">What are Robot Coins?</div>
		<div class="ta-center"><i>The shared supply of robot money. Communism may vary.</i></div>
		<div class="layout">
			<div class="col col-1">
			</div>

			<p>
				When a robot is killed by a human player, they gain 1 Robot Coin. Environmental kills and suiciding do
				not grant coins. Use this to your advantage as a human!

				Certain robots cost Robot Coins, but provide stronger utilities and weapons other robots don’t have. The
				more money a robot costs, the better the robot is.

				Robot Coins do not carry over when your team changes at the end of the round, so spend them while you
				can!
			</p>

			<div class="col col-0_5"></div>
		</div>
	</div>

	<div class="section_header">Robot Team Strategy</div>
	<div class="ta-center"><i>Your programming demands teamwork.</i></div>


	<p></p>
	<li><b> Your most important goal is to play the objective, don't bother killing all humans before doing so. </b>
	</li>
	<p></p>
	<li> Robot Engineers cannot build Teleporter Entrances, but can build Exits. The Teleporter Exit operates as a
		Teamporter, which serves as a spawn point for your team after they die. Use this to easily regroup and keep up
		pressure on the human team, but they have a steep metal cost!</li>
	<p></p>
	<li>Since robots are slow, you can't pick your fights like humans can. Robots need to group up together and focus on
		the objective as a team. If one robot on your team isn’t contributing, you are 1/6th of a player down on your
		team, so make sure you are doing your part!</li>
	<p></p>
	<li>Every robot has their uses, and some work better in certain situations than others. Experiment with different
		robots to find one that suits your team’s playstyle.</li>
	<p></p>
	<li>Communicate with your team! If you see something is amiss, tell your teammates about it, or switch robots to
		help out where you see your team struggling.</li>
	</ul>
</div>
<div class="col col-0_5"></div>