<div id="action-buttons" class=" hide-mobile">

	<span id="asset-pack-container">
		<a href="#" class="btn btn-basic big btn-icon"><i class="mdi mdi-package-variant"></i> Asset Pack</a>
		<div id="asset-pack-manager" class="margin">
			<div id="ap-tf2-folder" class="hide">
				<span data-balloon="Coming soon.">TF2 Folder</span>
				<span>
					<i id="tf2-folder-picker-selected">No folder selected</i>
					<a href="#" id="tf2-folder-picker" class="btn btn-basic btn-icon"><i
							class="mdi mdi-folder-open"></i>Select</a>
					<a href="#" class="btn  btn-trans"><i class="mdi mdi-information"></i></a></span>
			</div>
			<div>
				<span data-balloon="Custom models and effects for MannedMachines.">Asset Pack</span>
				<span>
					<a href="#" id="tf2-extract" class="btn btn-basic btn-icon hide"><i
							class="mdi mdi-update"></i>Update</a>
					<a href="{{asset-pack.url}}" class="btn btn-basic btn-icon"><i
							class="mdi mdi-download"></i>Download</a>
					<a href="/mannedmachines/#asset-pack" class="btn  btn-trans"><i
							class="mdi mdi-information"></i></a></span>
			</div>
		</div>
	</span>
	<a class="btn btn-green big" id="bmod-home-play-btn" disabled><i class="mdi mdi-steam"></i> Play</a>
	<span class="btn-list">
		<a href="{{site.discord}}" class="btn btn-discord btn-icon"> <i class="mdi mdi-discord"></i>Discord</a>
		<a href="/credits" class="btn btn-basic btn-icon"><i class="mdi mdi-account-multiple-outline"></i>Credits</a>
		<a href="/mantra" class="btn btn-basic btn-icon"><i class="mdi mdi-format-quote-close"></i>Mantra</a>
		<a href="/tos" class="btn btn-basic btn-icon"><i class="mdi mdi-file-document-outline"></i> TOS</a>
	</span>
</div>