
<!-- Matomo -->
<script>
	var _paq = window._paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.{{site.domain}}"]);
	_paq.push(["setDomains", ["*.{{site.domain}}", "*.stats.{{site.domain}}"]]);
	_paq.push(["setDoNotTrack", true]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function () {
		var u="//analytics.punksky.com/";
		_paq.push(['setTrackerUrl', u + 'matomo.php']);
		_paq.push(['setSiteId', 'ro485y1m3xr3ed7g9kv']);
		var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
		g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
	})();
</script>

<noscript>
	<p><img alt="" src="//analytics.punkhosting.com/matomo.php?idsite=oK74nj3r&amp;rec=1" style="border:0;" />
	</p>
</noscript>
<!-- End Matomo Code -->