
{% if home %}
<div id="bmod-welcome" class="font-tf2">
	<div id="bmod-welcome-video">
	</div>
	<div id="welcome-actions">
		{% if site.playerCount > 0 %}
		<span id="bmod-home-player-count">{% include ticker.html, name: Players", value: site.playerCount %}</span>
		{% for server in site.popularServers %}
		{% if forloop.first%}
		<div id="bmod-home-play" class="hide-mobile">
		<!-- Create play Button -->
		<a id="bmod-home-play-btn" href="steam://connect/{{server.ip}}" class="btn big btn-green hide-mobile"> <i class="mdi mdi-steam"></i> Play</a>
		{% if site.popularServers.length > 1 %}
		<!-- Start List -->
		<button class="btn-green" data-toggle-selector="#bmod-home-servers" data-toggle-class="hide">🞃</button>
		<ul id="bmod-home-servers" class="hide">
			{% include server-card.html, server: server %}
			{% endif %}
			{% else %}
			<!-- List Item -->
			{% include server-card.html, server: server %}
			{% if forloop.last %}
			<!-- Close List -->
			<a id="bmod-home-servers-btn" href="/servers" class="btn "><i class="mdi mdi-server"></i> Servers</a>
		</ul>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
		{% else %}
		<a id="bmod-home-play-btn" href="/servers" class="btn big btn-green hide-mobile"><i class="mdi mdi-server"></i> Servers</a>
		{% endif %}
		<a href="{{site.discord}}" class="btn big btn-discord"><i class="mdi mdi-discord"></i> Discord</a>
	</div>
</div>
<script type="module">
	(function () {

const videos = [
	{% for video in site.home-videos %}
		`{% include media.html, url: video %}`,
		{% endfor %}
	];

var options = {
	// width: <width>,
	// height: <height>,
	channel: "{{site.twitch}}",
	muted: false,
	autoplay: true
};
var player = new Twitch.Player("bmod-welcome-video", options);
player.setVolume(0.5);
if(videos.length)
	player.addEventListener("offline", _ => {
		player._target.innerHTML = videos[Math.round(Math.random()*(videos.length-1))]
	})

})()
</script>
<div id="bmod-list" class="font-tf2">
	<article class="bmod-panel">
		<div class="panel-header"><a href="/balancemod"><h2>Balancemod</h2></a></div>
		<div class="panel-body text">
			<ul>
				<li>Rebalanced TF2</li>
				<li>Bad weapons are good</li>
				<li>Overpowered weapons are good</li>
				<li>Reworked useless weapons</li>
				</ul>
		</div>
	</article>
	<article class="bmod-panel">
		<div class="panel-header"><a href="/mannedmachines"><h2>Manned Machines</h2></a></div>
		<div class="panel-body text">
			<ul>
				<li>Giant Robot PvP mode</li>
				<li>Assymetric gameplay</li>
				<li>You can play as robots</li>
				<li>Human team has custom buff</li>
			</ul>
		</div>
	</article>
	{% assign post = collections.post | where_exp: "item","item.categories contains 'bmod'" | sort: "date" | reverse | first %}
	<!-- {{post|json}} -->
	{% include bmod-article.html item=post have_title=true have_link=true have_content=true %}
	{% assign post = collections.post | where_exp: "item","item.categories contains 'mm'" | sort: "date" | reverse | first %}
	{% include bmod-article.html item=post have_title=true have_link=true have_content=true %}
</div>
{% endif %}