<footer id="bmod-footer">
<div class="container">
	<ul>
		<li><a href="//www.patreon.com/higps">Donate</a></li>
		<li><a href="{{site.discord}}">Discord</a></li>
		<li><a href="//wiki.bmod.tf/">Wiki</a></li>
	</ul>
	<ul>
		<strong>HiGPS</strong>
		<li><a href="//www.youtube.com/@higps">YouTube</a></li>
		<li><a href="//www.twitch.tv/higps">Twitch</a></li>
		<li><a href="//higps.no/">Website</a></li>
		<li><a href="//twitter.com/higps">X (Twitter)</a></li>
	</ul>
	{% unless page.permalink == "/502" %}
	<ul>
		<strong>BMod.TF</strong>

		<li><a href="/credits/">Credits</a></li>
		<li><a href="/tos/">Terms of Service</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/updates/">Updates</a></li>
	</ul>
		{% endunless %}
	<ul>
		<strong>Servers</strong>
		{% unless page.permalink == "/502" %}
		<li><a href="/servers?sort=4-desc/">Servers</a></li>
		<li><a href="/testimonials">Testimonials</a></li>
		{% endunless %}
		<li><a href="//bans.bmod.tf/">Bans</a></li>
		<li><a href="/ranking">Seasons</a></li>
	</ul>
	<ul>
		<strong>Wiki</strong>
		<li><a href="https://wiki.bmod.tf/Balance_Mod">Balance Mod</a></li>
		<li><a href="https://wiki.bmod.tf/Manned_Machines">Manned Machines</a></li>
		<li><a href="https://wiki.bmod.tf/Mantra">Mantra</a></li>
	</ul>
	</div>
</footer>