{% assign show502=not item.show-502 or is502 %}
{% assign hide502=not item.hide-502 or not is502 %}
{% if show502 and hide502 %}
<li class="{{item.class}}">
	<a href="{{item.href}}" class="btn {{item.link-class|default:"btn-trans"}} {% if item.hide-mobile%}hide-mobile{%endif%} {% if page.url contains item.href %}active{% endif %}">{{item.title}}</a>
	{% if item.list %}
	<ul>
		{% for listitem in item.list %}
		{% include bmod-nav-item.html, item: listitem %}
		{% endfor %}
	</ul>
	{% endif %}
</li>
{% endif %}