<header id="bmod-nav" data-intercept-toggle="floating" data-intercept-root-margin="60px 0px 0px">
		<a href="{{site.url}}" id="bmod-logo">
			<span class="item-card  image">
	
				<img class="item-card_image " src="{{site.url}}/assets/images/{{site.logo}}">
				<strong class="item-card_name hide-mobile">{{site.title}}</strong>
				<div class="item-card_tags hide-mobile
				debug-only
				{% if site.stage == "prod" %}
			debug-only
			{% endif %}
				">
					{{site.stage | append: " " | append: pkg.version}}
				</div>
				
			</span>
			

		</a>
		<form action="#" id="bmod-site-search" method="get">
			<input type="search" name="q" placeholder="Search posts, servers, items ...">
			<div id="bmod-search-results">
				<div id="bmod-search-results-list">

				</div>
			</div>
		</form>
		<nav>
			<button id="bmod-nav-mobile" class="btn-trans" data-toggle-selector="#bmod-nav-list"
				data-toggle-class="hide-mobile"><i class="mdi mdi-menu"></i></button>
			<ul id="bmod-nav-list" class="hide-mobile">
				{% assign is502=page.permalink == "/502" %}
				{% for item in nav.nav %}
				{% include bmod-nav-item.html, item: item %}
				{% endfor %}
			</ul>

		</nav>
</header>