{% comment %}
item (jekyll page)
header info header element type (default: h2)
have_link : be a link
content: include content
excerpt: include excerpt
{% endcomment %}

{% assign item_title = item_title | default: item.data.title %}
{% assign item_url = item_url | default: item.url %}
{% assign item_author = item_author | default: item.data.author %}
{% assign item_date = item_date | default: item.date %}
{% assign item_categories = item_categories | default: item.data.categories %}
{% assign item_content = item_content | default: item.content %}
{% assign item_excerpt = item_excerpt | default: item.data.excerpt | default: item.data.summary | default: item.data.description %}


{% if nopanels %}
{{content}}
{% else %}
{% assign content_test = item_content | strip_newlines %}
{% if content_test != "" %}
<article {% if item.slug == slug %}id="bmod-content"{% endif %} class="bmod-panel">
	<div class="panel-header">
	{% if item_title %}
	{% if have_link %}
	<a href="{{site.url}}{{item_url}}">
		{% endif %}
		<{{header|default:"h2"}}>
			{{item_title}}
		</{{header|default:"h2"}}>
		{% if have_link %}
	</a>
	{% endif %}
	{% endif %}
		
{% if item_author or item_date or item_categories %}
<span class="page-meta">

	{% if item_author %}
	{% assign member = staff.members | where: "title",item_author|first %}
	{% include author-link.html, member: member, showteam: true %}
	{% endif %}

	{% if have_date or item.tag contains "posts" %}
	{% assign date_text=item_date |
		date:site.date-format %}
	{% include item-card.html, title: date_text, tags: item_categories %}
	{% endif %}
	
</span>
{% endif %}
	</div>
	<div class="panel-body {% if margin %}margin{% endif %}">
		{% if have_excerpt and item_excerpt %}
		{{item_excerpt}}
		{% else %}
		{% if have_content and item_content %}
		{{ item_content }}<!--  what is | toc }}? -->
		{% endif %}
		{% endif %}

	</div>
</article>
{% endif %}
{% endif %}

{% assign item_title = nil %}
{% assign item_url = nil %}
{% assign item_author = nil %}
{% assign item_date = nil %}
{% assign item_categories = nil %}
{% assign item_content = nil %}
{% assign item_excerpt = nil %}