
{% if show_categories %}
<center id="bmod-category-tabs">{% for cat in site.categories %}
	{% assign cat_url = "/" | append:cat %}
	{% unless forloop.first %} - {% endunless %}
	<a class="btn {% if cat_url == page.url %}active{% endif %}" {% if cat_url == page.url %}active{% endif %} href="{{cat_url}}">
			{{cat|capitalize}}
	</a>
	{% else %}
	(none)
	{% endfor %}</center>
{% endif %}