{% comment %}{{ string }}{% endcomment %}
{% assign strike = 0 %}
{% assign string=string | split:newline.char %}
{% assign change_type = "Removed:,Added:,Changed:"|split:',' %}

{% for line in string %}
{% assign line=line| strip_newlines %}
{% if change_type contains line %}
{% unless forloop.first %}{% endunless %}</ul>{{line}}<ul>{% assign strike = 0 %}
	{% else %}
	<li>
		{% if strike == 1 %}
		<s>
			{% endif %}
			{{line}}
			{% if strike == 1 %}
		</s>
		{% endif %}
	</li>
	{% endif %}

	{% if line == "Removed:" %}
	{% assign strike = 1 %}
	{% endif %}

	{% endfor %}