
{% for external_url in site.assets.external_css %}
<link rel="stylesheet" href="{{ external_url }}">
{% endfor %}
{% for css in site.assets.node-css %}
<link rel="stylesheet" href="/node_modules/{{css}}">
{% endfor %}
{% for css in site.assets.css %}
{% if css == "bmod-background.css" and background-head %}
<link rel="stylesheet" href="/assets/styles/bmod-background-header.css">
{% else %}
<link rel="stylesheet" href="/assets/styles/{{css}}">
{% endif %}
{% endfor %}
{% for external_url in external_css %}
<link rel="stylesheet" href="{{ external_url }}">
{% endfor %}
{% for css in css %}
<link rel="stylesheet" href="/assets/styles/{{css}}">
{% endfor %}