
{% if site.stage != "prod" %}
{% capture gps-stoopid %}
{% assign uncat_posts=collections.posts | where_exp:"item","item.categories.size == 0" %}
{% if uncat_posts.size!=0 %}
{{uncat_posts.size}} post{% if uncat_posts.size!=1 %}s{% endif %} do{% if uncat_posts.size==1 %}es{% endif %} not have
any categories and therefore will not be listed in the available listing places.
<ul>
	{% for post in uncat_posts %}
	<li><a href="{{post.url}}">{{post.title}}</a></li>
	{% endfor %}

</ul>
{% endif %}
{% endcapture %}
{% assign gps-stoopid = gps-stoopid | strip %}


{% if gps-stoopid != "" %}
{% include mbox.html, title: "Send this to #gps-stoopid", text: gps-stoopid %}
{% endif %}

{% endif %}
