{% comment %}
item (jekyll page)
header info header element type (default: h2)
title: have a title
link : be a link
{% endcomment %}

{% assign item_title = item_title | default: item.data.title %}
{% assign item_url = item_url | default: item.url %}
{% assign item_author = item_author | default: item.data.author %}
{% assign item_date = item_date | default: item.date %}
{% assign item_categories = item_categories | default: item.data.categories %}
{% assign item_content = item_content | default: item.templateContent %}
{% assign item_excerpt = item_excerpt | default: item.data.excerpt | default: item.data.summary | default: item.data.description %}

{% assign hasDate = false %}
{% if item_date %}
{% assign currentDate = 'now' | date: "%F %R" %}
{% assign itemDate = item_date | date: "%F %R" %}
{% unless currentDate == itemDate %}
{% assign hasDate = true %}
{% endunless %}
{% endif %}
<div class="bmod-post-meta">
	{% if have_title %}
	{% if have_link %}
	<a href="{{site.url}}{{item_url}}">
		{% endif %}
		<{{header|default:"h2"}}>
			{{item_title| capitalize}}
		</{{header|default:"h2"}}>
		{% if link %}
	</a>
	{% endif %}
	{% endif %}
	{% if item_author or hasDate %}
	<span class="bmod-author">
		written
		{% if item_author %} by
		{% assign author = staff.members | where: "title",item_author|first %}
		{% assign team = staff.teams | where_exp: "item","author.teams contains item.id"|first %}
		<a {% if author.url %}href="{{author.url}}" {% endif %} style="display: inline-block;">{% if author.icon %}<img
				src="{{author.icon}}" height="20" style="filter:none;" /> {% endif %}[{% if team.singular
			%}{{team.singular}}{% else %}{{team.title}}{% endif %}] {{author.title}}</a>
		{% endif %}
		{% if hasDate %}
		on {{
		item_date |
		date:site.date-format}}
		{% endif %}
		in
		{% if item_categories %}
		{% for category in item_categories %}
		{% assign item_title = category %}
		{% capture item_url %}/{{item_title}}{% endcapture %}
		{% unless forloop.first %}{% if forloop.last %}and{% else %},{% endif %}{% endunless %}
		{% if item_url == page.url %}<strong>{% else %}<a href="{{item_url}}">{% endif %}
				{{item_title|capitalize}}
				{% if item_url == page.url %}</strong>{% else %}</a>{% endif %}
		{% endfor %}
		{% endif %}
	</span>
	{% endif %}
</div>
{% if have_excerpt and item_excerpt %}
{{item_excerpt}}
{% else %}
{% if have_content and item_content %}
{{ item_content }}<!--  what is | toc }}? -->
{% endif %}
{% endif %}


{% assign item_title = nil %}
{% assign item_url = nil %}
{% assign item_author = nil %}
{% assign item_date = nil %}
{% assign item_categories = nil %}
{% assign item_content = nil %}
{% assign item_excerpt = nil %}