<span class="item-card {% if tags %}tags{% endif %}  {% if number %}number{% endif %}{% if icon %}image{% endif %}">
	
	{% if icon%}<img class="item-card_image {{icon-class}}" src="{{icon}}" {% if image-alt %}alt="{{icon-alt}}"{% endif %}>{% endif %}
	{% if title%}<strong class="item-card_name {{title-class}}">{{title}}</strong>{% endif %}
	{% if tags%}<div  class="item-card_tags {{tags-class}}">
		
		{% for tag in tags %}
		{% if forloop.first and forloop.last %}
			{{ tag|upcase}}
			{% else %}

		<span class="tag-{{tag|slugify}}">{{ tag|upcase}}</span>
		{% endif %}
		{% endfor %}
	</div>{% endif %}
	{% if number %}
	<div class="item-card_number">{{number}}</div>
	{% endif %}
</span>