
{% for external_url in site.assets.external_js %}
<script src="{{ external_url }}"></script>
{% endfor %}
<!-- <script src="/socket.io/socket.io.js"></script> -->
{% for js in site.assets.js %}
<script src="/assets/scripts/{{js}}"></script>
{% endfor %}
{% for js in site.assets.modules %}
<script src="/assets/scripts/{{js}}" type="module"></script>
{% endfor %}
{% for external_url in external_js %}
<script src="{{ external_url }}"></script>
{% endfor %}
{% for external_url in external_module %}
<script src="{{ external_url }}" type="module"></script>
{% endfor %}
{% for js in js %}
<script src="/assets/scripts/{{js}}"></script>
{% endfor %}
{% for js in modules %}
<script src="/assets/scripts/{{js}}" type="module"></script>
{% endfor %}