{% comment %}
collection: site collection
filter : tag to filter by
have_content: include content
have_excerpt: include excerpt
have_title: include title
limit: item count
items: (optional)
{% endcomment %}

{% assign items = items | default: collections[collection] %}

{% assign items = items | sort: "date" | reverse %}
{% comment %}
{% if filter %}
{% assign items = items | where_exp: "item",filter %}
{% endif %}
{% endcomment %}
<div class="bmod-panel ticker-container">
		<h2>{{title}}</h2>
{% include ticker.html, name: title, value: items.size %}
</div>
{% for item in items limit:limit %}
{% include bmod-article.html, item: item, have_title: true, have_link: true, have_content: have_content, have_excerpt: have_excerpt, have_date: have_date %}
{% else %}
{% include bmod-article.html, item_title: "Nothing found", item_content: "Nothing has been found.", have_content: true, have_title: true %}
{% endfor %}
