{% comment %}
url
{% endcomment %}
{% assign img_formats = ".apng,.avif,.gif,.jpg,.jpeg,.png,.svg,.webp,data:image,imgur.com,ibb.co" |split:"," %}
{% assign vid_formats = ".mp4,.webm" |split:"," %}
{% assign embed_formats = "youtube.com,twitch.tv,vimeo.com,odysee.com,/w/" |split:"," %}

{% assign is_image = false %}
{% assign is_video = false %}
{% assign is_embed = false %}

{% for format in img_formats %}
  {% if url contains format %}
    {% assign is_image = true %}
	{% assign url = url | replace: "ibb.co","i.ibb.co" %}
    {% break %}
  {% endif %}
{% endfor %}

{% for format in vid_formats %}
  {% if url contains format %}
    {% assign is_video = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% for format in embed_formats %}
  {% if url contains format %}
    {% assign is_embed = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if is_image %}
{% if url contains 'ibb.co' %}<a href="{{url}}">{% endif %}
	<img src="{% include url.html, url: url %}{% if url contains 'ibb.co' %}/image.png{% endif %}" alt="">
	{% if url contains 'ibb.co' %}</a>{% endif %}
{% elsif is_video %}
  <video src="{% include url.html, url: url %}" controls></video>
{% elsif is_embed %}
	{% assign embed_url = url %}
	{% if url contains 'youtube.com' %}
		{% assign video_id = url | split: '?v=' | last | split: '&' | first %}
		{% assign start_time = url | split: '&t=' | last %}
		{% assign embed_url = 'https://www.youtube-nocookie.com/embed/' | append: video_id %}
		{% if start_time %}
			{% assign embed_url = embed_url | append: '?start=' | append: start_time %}
		{% endif %}
	{% elsif url contains 'twitch.tv' %}
		{% if url contains '/clip/' %}
		{% assign embed_url = 'https://clips.twitch.tv/embed?clip=' %}
		{% elsif url contains '/videos/' %}
		{% assign embed_url = 'https://player.twitch.tv/?video=' %}
		{% else %}
		{% assign embed_url = 'https://player.twitch.tv/?autoplay=true&channel=' %}
		{% endif %}
		{% assign video_id = url | split: '/' | last %}
		{% assign embed_url = embed_url | append: video_id  | append: "&parent="|append:"localhost" %}
	{% elsif url contains 'vimeo.com' %}
		{% assign video_id = url | split: '/' | last %}
		{% assign embed_url = 'https://player.vimeo.com/video/' | append: video_id %}
	{% elsif url contains 'odysee.com' %}
		{% assign video_id = url | split: '/' | last %}
		{% assign embed_url = 'https://odysee.com/$/embed/' | append: video_id %}
	{% elsif url contains '/w/' %}
		{% assign peertube = url | split: '/' | slice: 2 | first %}
		{% assign video_id = url | split: '/' | last %}
		{% assign embed_url = 'https://' | append: peertube | append: '/videos/embed/' | append: video_id %}
	{% endif %}
	<iframe src="{{ embed_url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen height="480"
	width="640"
	frameborder="0"
	scrolling="no"
	allowfullscreen="true"></iframe>
{% else %}
  <p>{{ url }}</p>
{% endif %}