
<nav id="mobile-tabs" class="show-mobile">
	{% for item in nav.mobile %}
	<a href="{{item.href}}" class="btn trans show-medium {% if page.url contains item.href %}active{% endif %}">
		{% if item.image %}<img src="{{ item.image }}" alt="">{%endif%}
		{% if item.icon %}<i class='mdi mdi-{{item.icon}}'></i>{%endif%}
		{{item.title}}
	</a>
	{% endfor %}
</nav>