<noscript>


	<div class="class-choices">
		<center>
			<ul class="class-grid">
				{% for merc in mercs %}
				<li>
					{%- comment -%}Incase the icon property gets removed from mercs.json{%- endcomment -%}
					{% capture default_icon %}
					{{site.assets.folder}}/images/class_icons/Leaderboard_class_{{merc[0]}}.png
					{% endcapture %}
					<a class="class-button" href="#{{merc[0]}}"
						onclick="document.getElementById('item-showcase').dataset.merc ='{{merc[0]}}'"><img
							class="class-button-image" alt="{{merc[0]}}"
							src="{{merc[1].icon | default: default_icon}}"></a>
				</li>
				{% endfor %}
			</ul>
		</center>
	</div>


	{% for mer in mercs %}
	<div>
		<a id="{{mer[0]}}"></a>
		<h2>{{mer[0]}}</h2>
		<div class="flex merc-weapon-section">
			<div class="item-choices col col-2">
				<div class="item-grid">
					{% for slot in mer[1] %}
					{% assign slot_is_array=slot[1]|is_array %}
					{% if slot_is_array and slot[0].size!=0 %}
					<h3>{{slot[0]}}</h3>
					<ul>
						{% for wepId in slot[1] %}
						{% assign wep=newWeps[wepId]%}
						{% assign wepOld=defWeps[wepId]%}
						{% if wep %}
						<li class="item-button-wrapper"><button class="item-button">
								<img src="{{wep.image}}" alt="{{wepId}}" class="item-button-image">
								{% if wep.changed == 0 or wep.changed == mer[0] %}
								<div class="new-text">New!</div>
								{% endif %}
							</button>

							<div class="item-info-box">
								<div class="stat-item-wrapper">

									{% if wep.why %}
									{% assign why_is_object=wep.why| is_object %}
									{% if why_is_object %}
									{% if wep.why[mer[0]] %}
									<div class="why-box">
										{{wep.why[mer[0]]}}
									</div>
									{% endif %}
									{% else %}
									<div class="why-box">
										{{wep.why}}
									</div>
									{% endif %}
									{% endif %}
									<div class="stat-item-box">
										<center>
											{% if wep.changed !=0 %}<div style="flex-basis: 45px;"></div>{% endif%}
											<div class="stat-item-preview">
												<img alt="{{wepId}}" height="90" src="{{wep.image}}" width="90">

											</div>
											{% if wep.changed != 0 %}<input type="checkbox" class="old-toggle"
												id="old-toggle-{{wepId}}" name="old-toggle-{{wepId}}"
												style="display: none;">
											<label for="old-toggle-{{wepId}}" id="c-btn" type="checkbox"><img
													src="/assets/images/cycle.webp">

											</label>
											<div class="stat-item-infobox weps-old">
												<div class="att-name">{{wep.name}} (Old)</div>
												<div class="stat-item-description">
													{% for att in wepOld %}
													{% unless ignoreAtt contains att[0] %}
													{% if att[1] and att[1] != "" %}
													<div class="att-{{att[0]}}">
														<ul>
															{% include class-based-info.html, value: att[1],
															value-wrapper: "li" %}
														</ul>
													</div>
													{% endif %}
													{% endunless %}
													{% endfor %}
												</div>
											</div>{% endif%}
										</center>
										<div class="stat-item-infobox weps-new">
											<div class="att-name">{{wep.name}}</div>
											<div class="stat-item-description">
												{% for att in wep %}
												{% unless ignoreAtt contains att[0] %}
												{% if att[1] and att[1] != "" %}
												<div class="att-{{att[0]}}">
													<ul>
														{% include class-based-info.html, value: att[1],
														value-wrapper: "li" %}
													</ul>
												</div>
												{% endif %}
												{% endunless %}
												{% endfor %}
											</div>
										</div>

									</div>
								</div>
							</div>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<table id="sidebar-constraint" class="col col-1">
				<tbody>
					<tr>
						<td>
							<div class="stat-item-wrapper"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		{% endfor %}
</noscript>
