{% for asset in site.assets.fonts %}
<link href="{{site.assets.folder}}/fonts/{{asset}}" rel="prefetch">
{% endfor %}

{% for asset in site.assets.background %}
<link href="{{site.assets.folder}}/images/{{asset}}" rel="prefetch">
{% endfor %}


{% for asset in site.assets.css %}
<link href="{{site.assets.folder}}/styles/{{asset}}" rel="prefetch">
{% endfor %}
{% for asset in site.assets.node_css %}
<link href="{{site.assets.folder}}/node_modules/{{asset}}" rel="prefetch">
{% endfor %}

{% for asset in site.assets.js %}
<link href="{{site.assets.folder}}/scripts/{{asset}}" rel="prefetch">
{% endfor %}
{% for asset in site.assets.node_js %}
<link href="{{site.assets.folder}}/node_modules/{{asset}}" rel="prefetch">
{% endfor %}