{% assign season_sorted = season | sort: "ranking" %}
<table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>Ranking</th>
        <th>Name</th>
        <th>Skill</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for item in season_sorted %}
      <tr style="text-align: right;">
        <td>{{item.ranking}}</td>
        <td><a href="{{item.URL}}">{{item.lastName}}</a></td>
        <td>{{item.skill}}</td>
        <td>{{item.country}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  