
<meta charset="utf-8">
<meta property="og:locale" content="en_GB">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="/assets/images/favicon.webp" rel="shortcut icon" type="image/webp">
<link type="application/atom+xml" rel="alternate" href="{{site.url}}/feed.xml" title="{{site.url}}">
<meta name="generator" content="NodeJS EleventyJS JS">


<meta property="og:site_name" content="{{site.title}}" />

{% assign PAGE_DESCRIPTION = description|default:excerpt|default:summary %}
{% assign PAGE_URL = seo.url|default: url|url %}
{% assign PAGE_AUTHOR = staff.members | where: "title",item_author|first %}
{% assign PAGE_IMAGES = content | query:"img" |map:"src" %}
{% assign PAGE_IMAGES = images | default: PAGE_IMAGES %}
{% assign PAGE_VIDEOS = content | query:"video"|map:"src" %}
{% assign PAGE_VIDEOS = videos| default: PAGE_VIDEOS %}

{% assign PAGE_TYPE = seo.type|default:PAGE_TYPE|default:'website' %}


<title>
    {% unless page.url == "/" %}{{title}} | {% endunless %}{{site.title}}{% if page.url =="/"%} {{site.description}}{% endif %}
</title>


<meta property="description" content="{{PAGE_DESCRIPTION}}" />
<meta property="author" content="{{PAGE_AUTHOR.title}}" />
<meta property="keywords" content="{{categories|join:', '}}" />


<meta property="og:title" content="{{title}}" />
<meta property="og:article:author" content="{{PAGE_AUTHOR.title}}" />
<meta property="og:url" content="{{PAGE_URL}}" />
<meta property="og:description" content="{{PAGE_DESCRIPTION}}" />
<meta property="og:type" content="{{PAGE_TYPE}}" />
<meta property="og:url" content="{{PAGE_URL}}" />
{% for image in PAGE_IMAGES %}<meta property="og:image" content="{{image}}" />{% endfor %}
{% for video in PAGE_VIDEOS %}<meta property="og:video" content="{{video}}" />{% endfor %}
{% if seo.type == "article" %}
<meta property="og:article:published_time" content="{{page.date|toISO8601}}" />
<meta property="og:article:section" content="{{categories[0]}}" />
<meta property="og:article:tag" content="{{categories|join:', '}}" />
{% endif %}