
<div id="current-games" class="bmod-panel margin">
	<h2>Searching for current games ...</h2>
	<noscript class="bmod-message-box bmod-message-box-warning">Javascript is not enabled in this browser so no info will be obtained</noscript>
</div>
<div id="start-game" class="bmod-panel margin">
	<div>
		<strong>Group by:</strong>
		<input class="btn-check" type="radio" name="group-by" id="group-region" checked value="region">
		<label class="btn btn-basic" for="group-region">Region</label>
		<input class="btn-check" type="radio" name="group-by" id="group-mode" value="mode">
		<label class="btn btn-basic" for="group-mode">Mode</label>

		<input type="button" class="hide-mobile btn btn-basic" value="Classic Server List" id="server-list-open">
	</div>
	<div class="regions">
		{% for region in regions %}
		<h3><img src="{{region[1].icon}}" alt="">{{region[0]}}</h3>
		{% for s in servers %}
		{% assign server=s[1] %}
		{% if server.region == region[0] %}
		<a class="server" href="steam://connect/{{server.connect|default:s[0]}}">{% include item-card.html, icon: modes[server.mode].icon, title: server.mode, tags:"" %}</a>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<div class="modes">
		{% for mode in modes %}
		<h3><img src="{{mode[1].icon}}" alt="">{{mode[0]}}</h3>
		{% for s in servers %}
		{% assign server=s[1] %}
		{% if server.mode == mode[0] %}
		<a class="server" href="steam://connect/{{server.connect|default:s[0]}}">{% include item-card.html, icon: regions[server.region].icon, title: server.region, tags:"" %}</a>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<p>If for whatever reason this doesn't work, try out <a  target="_blank" rel="noopener noreferrer"  href="https://teamwork.tf/community/customserverlist/51">teamwork.tf</a></p>
</div>
<div id="server-table-prompt" style="display: none;">
	<div class="server-list-header">
	<span id="server-list-title">Servers</span>
	  <a href="#" id="server-list-close">X</a>
	</div>
	<!-- <div class="server-list-tabs">
	  <a href="#" class="server-list-tab active">All</a>
	  <a href="#" class="server-list-tab">BMod</a>
	  <a href="#" class="server-list-tab">MM</a>
	</div> -->
	<div class="server-list-table">
	<table>
		   <thead>
	  <tr>
		<th>🌐</th>
		<th>🕹️</th>
		<th id="server-count" style="width:100%">Servers (8)</th>
		<th>Players</th>
		<th>Map</th>
	  </tr>
	  </thead>
	<tbody id="server-table">
	  {% for s in servers %}
	  {% assign server=s[1] %}
	  <tr class="server">
		<td><img src="{{regions[server.region].icon}}" alt="{{server.region}}"></td>
		<td><img src="{{modes[server.mode].icon}}" alt="{{server.mode}}"></td>
		<td>{{server.host}} | {{server.region}} #{{server.regionId}} | {{server.mode}}</td>
		<td> / {{server.maxPlayers}}</td>
		<td></td>
	  </tr>
	  {% endfor %}
	</tbody>
	</table>
	  </div>
	<div class="button-row">
		<a href="#" class="btn" id="server-table-ip">Copy IP</a>
		<a href="#" class="btn" id="server-table-command">Copy Command</a>
		<a href="#" class="btn" id="server-table-steam">Copy Steam URI</a>
		<a href="#" class="btn" id="server-table-play">Copy Play URL</a>
		<a href="#" class="btn" id="server-table-refresh">Refresh</a>
		<a href="#" class="btn" id="server-table-connect">Connect</a>
	</div>
  </div>
  