{% comment %}
value - number to display
{% endcomment %}
{% assign digits = value | split:'' %}

<div class="ticker">
	<p>{{name|capitalize}}</p>
{% for i in digits %}
<img src="https://www.teamfortress.com/images/history/ticker_numerals/n{{i}}.png" alt="{{i}}">
{% endfor %}
</div>