/*
 * WHAT IS THIS FILE FOR
 */

.background {
	background-image: unset !important;
}
.footer {
	background-image: unset !important;
}

/* change list classes index */

#index {
	position: fixed;
	top: 0;
	left: 0;
	padding: 45px;
	order: 1;
	font-size: 110%;
	@media (max-width: 1550px) {
		display: none;
	}

	ul {
		list-style-type: none;
	}

	a {
		display: block;
		padding: 5px 0;
		color: #c6c6c6;
		text-decoration: none;
		&:hover,
		&:focus-visible {
			color: white;
		}
	}
}

/* TODO: Find out what this is for */
/* margin-left: 0;
  }
} */
