---
permalink: "/assets/styles/bmod-background-header.css"
---
html {
	background-image: url(/assets/images/{{site.assets.background[0]}}),url({{site.assets.folder}}/images/{{site.assets.background[2]}}),url({{site.assets.folder}}/images/{{site.assets.background[1]}});
	background-repeat: no-repeat,no-repeat,repeat-y;
	background-position: center top,center bottom;
}