---
permalink: "/assets/styles/bmod-background.css"
---
html {
	background-image: url({{site.assets.folder}}/images/{{site.assets.background[2]}}),url({{site.assets.folder}}/images/{{site.assets.background[1]}});
	background-repeat: no-repeat,repeat-y;
	background-position: center bottom;
}