html.in-game {
	width:100vw; height:100vh;
	display:flex; align-items:center; justify-content:center;

	background-image:url(../images/chalkboard.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:auto 100%;
	background-attachment:fixed;

	body {max-height:100%; max-width:100%}

	#bmod-nav, #bmod-footer, %hide {display:none}

	.container {margin-top:0; margin-bottom:0}

	#bmod-content {
		background-color:transparent;

		.panel-header,.center {@extend %hide}
		.panel-body {padding: 0}
	}
}
