.bmod-members {display:flex; flex-wrap:wrap; justify-content:unset; align-items:center}
.bmod-members > * {flex:1}
.bmod-member {margin:.3em; display:flex; flex:1 0 15em; flex-flow:row!important}
/*.bmod-member img {height:2em !important}*/
