$sl_bg-dark: #221f1c;
$sl_bg-main: #393532;
$sl_bg-light: #a39884;
$sl_bg-light-border: #8e8572;

$sl_text-main: beb6a3;
$sl_text-active: #f6f6f5;
$sl_text-inactive: #dddcdc;
$sl_text-black: #3c3834;

#server-table-prompt {
	border-radius: .5rem;
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	background-color: $sl_bg-main;
	padding: .5rem;
	color: #b5ab93;
	font-family: sans;
	font-size: 13px;
	width: 59rem;
	box-shadow: 0px 0px 50px 0px #000000;
	.server-list-header {
		margin:.5rem; display:flex;
		#server-list-title {flex:1}
	}
	.server-list-tabs {display:flex; gap:1px}
	.server-list-tab {
		padding: .5rem;
		background-color: $sl_bg-light;
		color: $sl_text-inactive;
		border-color: $sl_bg-light-border;
		border-width: 1px;
		&.active {color:$sl_text-active}
	}
	.server-list-table {
		user-select:none;
		min-height:13rem; position:relative; overflow-y:scroll;
		background-color:$sl_bg-dark; color:$sl_bg-light;
		thead {
			position:sticky; background-color:$sl_bg-light; color:$sl_text-black;
			th {font-weight:normal; border:$sl_bg-light-border; border-width:1px}
		}
		td,th {text-align:center; padding: 0 1em}
		td {cursor:default}
		.active {background-color:#5a534a; color:black; cursor:pointer}
		img {height:1em}
	}
	#server-table-connect, #server-table-refresh {float:right}
}
