/*
 * 				TODO:
 *
 *	WORK OUT WHAT IS USEFUL FROM THIS FILE AND EVENTIALY REMOVE IT
 * 	WE SHOULD NOT NEED DEDICATED CLASSES FOR STYLES SUCH AS .flex
 *
 *  Things to work out
 * 
 * 	- [x] Fonts
 * 	- [ ] landing page
 * 	- [ ] skip to content link
 * 	- [ ] wrapper
 * 	- [ ] landingpage
 * 	- [x] flex
 * 	- [ ] section
 * 	- [x] col
 * 	- [ ] ta(left,right,center)
 * 	- [ ] weapon changes
 * 	- [ ] why
 * 	- [ ] server list
 * 	- [ ] gps stoopid
 *
 */

.skip-to-content-link {
	height:30px; left:50%; padding:8px; position:absolute;
	transform:translateY(-100%); transition:transform 0.3s}

.skip-to-content-link:focus {transform:translateY(30%)}

.container-main {
	width:100%; min-height:1vh; box-sizing:border-box; padding:40px;
	background:var(--config-container); background-position:center}
.container-main:last-child {border-radius:0px 0px 30px 30px}



a {color:orange}
.background {background-image:var(--config-cascade); background-position:center top}
.main {
	/*padding-bottom:300px;*/
	background-image:var(--config-footer); background-position:center bottom}

.background,
.main {width:100%; background-size:1920px auto; background-repeat:no-repeat}

footer {
	margin-top:200px; margin-left:auto; margin-right:auto; max-width:1200px
	background-color:#3e3e3e}

footer > * {padding:20px; margin-left:auto; margin-right:auto; width:fit-content}

body {
	padding:0; margin:0;
	background:var(--config-pattern) repeat-y; background-size:auto;
	background-color:#0f0f0f; background-position:center;
	color:var(--config-color)
	/* TODO: this font family is complete nonsense, redo it */
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Ubuntu,
		"Helvetica Neue",
		sans-serif}
.wrapper {
	max-width:1200px; margin:0 auto;
	box-shadow:0px 0px 15px 2px #000; border-radius:0px 0px 30px 20px}
.landingpage {
	width:1200px; margin:0 auto;
	box-shadow:0px 0px 15px 2px #000; border-radius:0px 0px 30px 20px}
.container {
	width:100%; min-height:200px; box-sizing:border-box;
	background:var(--config-container); background-position:center}
.container:last-child {border-radius:0px 0px 30px 30px}
.container.header {
	background:var(--config-header); position:relative; height:400px; margin:0 0 -20px;
	box-shadow:0px 0px 15px 2px #000; border-radius:0px 0px 30px 20px}


.section_header {text-align:center; font-weight:bold; font-size:40px; margin-bottom:10px}
.section_small_header_left {text-align:left; font-weight:bold; font-size:20px; margin-bottom:10px}

.ta-left {text-align:left}
.ta-right {text-align:right}
.ta-center {text-align:center}
.ta-justify {text-align:justify}
/* change list */

.weapon-changes {margin-top:5px}

.weapon-changes ul {margin-top:5px; margin-top:5px}

.balance-why {font-style:italic}
/* change list classes index */

[onclick] {cursor:pointer}
/* Desktop */
@media (min-width:800px) {
	.container {/*padding:10px;*/ padding:40px}
}

.js-only {display:none}

/* Mobile */
@media (max-width:800px) {
	/*@media (max-width:9999px) {*/
	.hide-mobile {display:none!important} .col {width:100%}
}

/* Responsive images */
img.responsive {width:100%; height:auto}

/* Style to font */
.font-tf2 {font-family:"TF2 Build", Helvetica, sans-serif}

.bmod-section {margin:30px auto; /*display:grid; place-content:center*/}



#bmod-player-count {font-size:0.4em}

/* Balance Mod Navigation */
.bmod-nav {display:flex; place-content:center; gap:5px; flex-wrap:wrap}

/*  Server List */
.bmod-server-list img {max-height:2em}

/*.bmod-server-list th:nth-child(1) {width:4em}*/
/*.bmod-server-list th:nth-child(2) {width:2em}*/

.bmod-server-list th:nth-child(4) {width:80em}

/*.bmod-server-list th:nth-child(7) {width:38em}*/

/*.bmod-server-list tr {height:3em}*/


.bmod-server-list tr:nth-child(even) {background-color:rgba(1, 1, 1, 0.2)}

.bmod-server-list td {text-align:center}

/* Sort Triangle */
th {padding-right:30px}
th.bmod-sort {position:relative}

th.bmod-sort::after {
	content:""; width:0; height:0;
	position:absolute; margin-left:5px;
	border:10px solid transparent}

.bmod-sort.desc::after {border-top-color:#ebe9cc; border-bottom-width:0; top:43%}
.bmod-sort.asc::after {border-bottom-color:#ebe9cc; border-top-width:0; bottom:43%}

/* Posts */
.bmod-post-meta h1,
.bmod-post-meta h2,
.bmod-post-meta h3,
.bmod-post-meta h4,
.bmod-post-meta h5,
.bmod-post-meta h6 {margin:0}
.bmod-post-meta {margin:20px 0px}
.bmod-post-meta .bmod-author {margin-left:20px}

.language-plaintext.highlighter-rouge {
	margin-left:30px; background-color:#776b5f; padding:13px; border-radius:5px}

pre.highlight {margin:0px}

.gps-stoopid {
	background-color:darkred; padding:5px; border-style:solid;
	border-color:red; border-radius:15px; border-width:5px}
