---
layout: null
---
{%assign first=true %}
[{% for member in staff.members %}{% if first %}{%assign first=false %}{%else%},{%endif%}{% assign team = staff.teams | where_exp: "item","member.teams contains item.id"|first %}
{
	"type":"member",
	"icon":{{member.icon|default:""|json}},
	"title":{{member.title|json}},
	"team":{{team.singular|default:team.title|json}},
	"url":{{member.url|default:""|json}}
}{% endfor %}
]