---
layout: null
---
{%assign first=true %}
[{% for post in collections.posts %}{% if first %}{%assign first=false %}{%else%},{%endif%}{% assign member = staff.members | where: "title",post.data.author|first %}
{
	"type":"post",
	"title": {{ post.data.title | json }},
	"author": {{ member.title|default:post.data.author | json }},
	"author-icon": {{ member.icon|default:"" | json }},
	"categories": {{ post.data.categories|default: post.data.category | json }},
	"date": {{ post.date | json }},
	{%comment%}"content": {{ post.templateContent  | json }},{%endcomment%}
	"url": {{ post.url | url | json }}
}{% endfor %}
]