---
layout: null
---
{%assign first=true %}
[{% for s in servers %}{% assign server=s[1] %}{% if server and server.name %}{% if first %}{%assign first=false %}{%else%},{%endif%}
{
	"type":"server",
	"region":{{server.region|json}},
	"image":"{% if server.region-icon %}{{server.region-icon}}{% else %}https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.2.0/flags/4x3/{{server.flag|default:server.region}}.svg{% endif %}",
	"mode":{{server.mode|json}},
	"shortmode":{{server.shortmode|json}},
	"gamemode":{{server.gamemode|json}},
	"shortgamemode":{{server.shortgamemode|json}},
	"map":{{server.map|json}},
	"players":{{server.players|json}},
	"ip":{{server.ip|json}},
	"url":{{"steam://connect/"|append:server.ip|json}}
}{% endif %}
{% endfor %}
]