.bmod-panel {
	background-color:#3e3e3e;
	color:white;
}
.margin {padding:2em}

.panel-header {padding:.5em 2em; padding-top:1em}
.panel-header h1 {text-align:center; font-size:2em}
.page-meta {display:flex; justify-content:space-around}
