#bmod-list {
	display:flex; flex-direction:column; gap:.6em;
	/*flex-wrap:wrap;*/
	& > .ticker-container {
		/*height:3em;*/ font-size:5em; text-transform:capitalize;
		display:flex; flex-flow:row; flex-wrap:wrap; flex-basis:100%;
		justify-content:space-around; align-items:center;
		h2 {width:min-content}
	}
	/*& > * {flex:1; flex-basis:40%}*/
}
