@use "bmod-common";

#bmod-nav {
	width:100%; height:3.75rem; padding:0 1em; position:sticky; top:0; z-index:100;
	display:grid; gap:1em; align-items:center; background-color:rgba(.5,.5,.5,.5);
	grid-template-areas:"logo search nav"; grid-auto-columns:auto 1fr auto;

	&_watcher {position:absolute; top:0}

	&:hover,&.floating, &{background-color:var(--bmod-blue)}

	a {flex-flow:row;
		// height:100%
	}

	#bmod-logo {
		/*display:inherit;*/ color:white; font-weight:bold; text-transform:capitalize;
		.item-card {font-size:30px}
	}

	#bmod-site-search {
		height:100%; display:grid; place-items:center;
		input {width:100%}
		&:focus-within {
			@media (max-width:bmod-common.$mobileWidth) {
				width:100%; position:absolute; top:0; z-index:1;
				background-color:var(--bmod-blue)}
		}
		&:not(:focus-within) #bmod-search-results {display:none}

		#bmod-search-results {
			width:max-content; max-height:100vh; z-index:99;
			position:absolute; top:0; left:50%; right:50%; translate:-50%;
			display:grid; grid-template-rows:60px 1fr; grid-template-areas:"nav " "results"}

		#bmod-search-results-list {
			display:flex; flex-flow:column; align-items:stretch;
			overflow-y:scroll; grid-area:results; background-color:#3e3e3e;
			.item-card {width:100%}
		}
	}

	#bmod-nav-mobile {float:right; font-size:1em}

	nav {
		@media (min-width: bmod-common.$mobileWidth) {
			& > ul > li > a.trans {height:100%; border-radius:0; /*padding-top:0; padding-bottom:0*/}
		}

		@media (max-width:bmod-common.$mobileWidth) {
			font-size:1.5em;
			&>ul {
				flex-flow:column;
				width:100%;
				position:fixed;
				left:0;
				top:60px;
				width:100%;
				background-color:var(--bmod-red);
				height:-webkit-fill-available;
			}
		}
	}

	ul {
		margin:0; padding:0; align-items:center; text-align:center; list-style:none;
		@media (min-width: bmod-common.$mobileWidth) {
			display:flex;
			justify-content:end;
			align-items:stretch;
			ul {position:absolute}
		}
		ul {flex-flow:column; background-color:var(--bmod-blue-dark)}

		i {display:inline; font-size:0.9em; margin-right:0.3em}

		@media (max-width: bmod-common.$mobileWidth) {
			a {width:100%; height:100%; padding:1em 0}
		}
	}
	@media (min-width: bmod-common.$mobileWidth) {
		#bmod-nav-mobile {display:none}
	}
	li {
		position:relative;
		@media (min-width: bmod-common.$mobileWidth) {
			&:not(:hover:focus-within) > ul {display:none}
		}
		&:not(:focus-within) > ul {display:none}
	}
}
