$mobileWidth:850px;

:root {
	--bmod-blue:#446278;
	--bmod-red:#a6423e;
	--bmod-blue-dark:#335166;
	--bmod-red-dark:#88302d;

	--bmod-brown:#3e3e3e;
	--bmod-dbrown:#24201b;
	--lighten:rgba(255,255,255,.07);
	--darken:rgba(.5,.5,.5,.2);
	--trans:rgba(0, 0, 0, 0);
}

@mixin balloon($text) {
	position:relative;
  
	&:before {
		content:$text; position:absolute; left:50%; bottom:100%;
		margin-bottom:0.5rem; padding:0.3rem 0.5rem; background-color:black; font-size:1rem;
		visibility:hidden; z-index:10; transform:translateX(-50%);
	}
  
	&:hover::before, &:focus::before, &.active::before {visibility:visible}
}
