#bmod-footer {
	display:grid; min-height:200px; height:fit-content;
	/*background-color:var(--bmod-red);*/

	ul {padding:0; flex-basis:15em}
	.container {
		display:flex; flex-direction:row; flex-wrap:wrap;
		justify-content:space-around; gap:1.5em;
		padding-top:2em; padding-bottom:1em}
	a {color:white!important}

	strong {color:#ffffff36}

	ul:nth-child(1) {
		width:100%; margin:0; list-style:none; grid-area:links;
		display:flex; flex-basis:100%; justify-content:space-around; align-items:center}
}
