@use "bmod-common";

#bmod-welcome {
	margin:2em0; display:flex; flex-wrap:wrap; justify-content:space-around;
  align-items: stretch;
//   gap:2em;
	gap: .6em;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-auto-columns: 100%;
  height: 100%;

	@media (max-width: bmod-common.$mobileWidth) {
		flex-flow:column;
		#bmod-welcome-video {flex-basis:26em}
	}
}

#welcome-actions {
	display:flex; flex-flow:column; flex:1 0 auto; gap:1em; align-items:center; justify-content:end;
	font-size:1.5em; font-weight:bold; color:white;

	.btn {
		display:flex;
		flex-flow:row;
	}
	.btn-green {
		display:block;
		@media (min-width: bmod-common.$mobileWidth) {
			font-size:3em;
		}
	}
	i {display:inline; margin-right:0.3em; font-size:0.9em}
}

#bmod-welcome-video {
	// height:26em;
	flex:1 0 60%;
	iframe {width:100%; height:100%; border-radius: 2rem;}
}

#bmod-home-player-count {font-size:3em}

#bmod-home-play {
	width:100%; position:relative; display:flex;
	&>.btn {flex:1}
}
#bmod-home-servers {
	position:absolute;
	list-style:none;
	padding:0;
	margin:0;
	top:100%;
	background-color:var(--btn-bg-dark);
	/*font-size:.7em;*/
	display:flex;
	flex-flow:column;
	left:0;
	width:100%;
	a, .item-card {width:100%}
	.btn-green {height:100%}
}
