.ticker {position:relative; height:3em; display:flex; border:solid .6em black; font-size:.7em}
.ticker p {
	position:absolute; bottom:100%; width:149%; margin-left:-20%;
	font-size:0.4em; text-align:center}
.ticker img {height:2em}
