input:not([type="submit"]):not([type="button"]):not([type="reset"]), select {
	padding:.5em 2em; border-radius:1em; background-color:var(--darken); color:var(--config-color)}

input, select, button {outline:none; border:none}

option:first {color:#999; font-style:italic}
