.item-card {
	/*width:100%;*/
	min-height:2em; 
	display:inline-grid; gap:0;
	grid-template-areas:"title"; grid-auto-columns:auto; align-content:center;
	font-size:2rem; color:white;

	&.image {
		grid-template-areas:"image title";
		grid-auto-columns:2em auto}
	&.number {
		grid-template-areas: " title number" ;
		grid-auto-columns: auto minmax(min-content,2em)}
	&.image.number {
		grid-template-areas:"image title number";
		grid-auto-columns:2em auto minmax(min-content,2em)}
	&.tags {grid-template-areas:" title" " tags"}
	&.tags.image {grid-template-areas:"image title" "image tags"}
	&.tags.number {grid-template-areas:" title number" " tags number"}
	&.tags.image.number {grid-template-areas:"image title number" "image tags number"}
	.item-card_name:not(.image), .item-card_tags:not(.image) {margin-left:.25em}
	.item-card_name:not(.number), .item-card_tags:not(.number) {margin-right:.25em}
	&.number .item-card_number {margin-right:.25em}

	&:hover {background-color:var(--lighten)}
	.active>&, &.active {background-color:var(--darken)}

	%skeleton {background-color:rgba(255,255,255,.3)}
	%floating-skeleton {
		position:relative;
		&::after {
			@extend %skeleton;
			content:""; display:block;
			/*margin:auto; position:absolute; top:50%; left:50%; translate:-50% -50%*/}
	}

	&_name:empty, &_tags:empty {
		@extend %floating-skeleton; display:grid; place-items:center left;
		&::after {
			height:1em;
			top:0!important;
			left:0!important;
			translate:0!important
		}
		@for $i from 0 through 10 {
			&[data-skeleton-width="#{$i}"]::after {width:#{$i}em}
		}
	}
	&_number:empty {
		@extend %floating-skeleton;
		&::after {width:.8em; height:.8em
		}
	}
	&_image {
		border:none; padding:0;
		&:not([src]),&[src=""] {@extend %skeleton; width:1.5em; height:1.5em; border:none}
	}

	&_image {grid-area:image; max-width:1.5em; margin:auto}
	&_name {grid-area:title; font-size:.7em; display:grid; place-content:center;}
	&.tags &_name {font-size:.7em}

	&_tags {grid-area:tags; font-size:.4em}

	&_number {
		padding:auto 1em; height:64px; background-color:rgba(255,255,255,.05);
		display:grid; grid-area:number; place-items:center}
}
/** tags */
[class^=tag] {
	padding:0.1rem 0.2rem; border:none; border-radius:0.5rem;
	user-select:none; text-align:center; text-decoration:none}
/*
{% for team in staff.teams %}{% if team.color%}
.tag-{{team.singular|default:team.title|slugify}} {
	color:black; background-color:{{team.color}}}{%endif%}
{% endfor %}
*/
