@use "bmod-common";

body:has(#bmod-sidenav) {
	height: 100vh;

	// @media (min-width: 850px) {
	display: grid;
	grid-template-rows: 3.7rem 1fr 5rem;
	grid-template-columns: 5rem  1fr 1fr;
	grid-template-areas:
		"header header header"
		"main main main";

	&:has(footer) {
		grid-template-areas:
			"header header header"
			"main main main"
			"footer footer footer";
	}
	main,
	#bmod-server-list{
		margin-top: .3em;
		// display: block;
		overflow-y: scroll;
		color: white;
	}
	main {
		display: block;
	}

	@media (min-width: 850px) {

		main,
		#bmod-server-list {
			margin: .6em;
		}
		main {
			margin-right: .3rem;
		}
		#bmod-server-list {

	margin-left: .3rem;
		}

		grid-template-areas:
			"header header header"
			"sidenav main main";

		@media (min-width: 1500px) {
			grid-template-columns: 15rem 1.5fr 1fr;
		}

		&:has(#bmod-server-list:not(.hide)) {
			grid-template-areas:
				"header header header"
				"sidenav main servers";
		}
		&:has(footer) {
			grid-template-areas:
				"header header header"
				"sidenav main main"
				"footer footer footer";
		}
		&:has(#bmod-server-list:not(.hide)):has(footer) {
			grid-template-areas:
				"header header header"
				"sidenav main servers"
				"footer footer footer";
		}
	}

	#bmod-nav .play {
		display: none;
	}




	
	.bmod-panel {
		border-radius: 1.5rem;
		background-color: var(--lighten);
		&:hover {

		backdrop-filter: blur(16px);
		}
	}
	// .bmod-panel {
	// 	background-color:var(--bmod-dbrown);
	// }
	// }

	footer {
		background-color: var(--bmod-red);
		position: relative;
		& > * {
			display: flex;
		}
		i {
			display: inline;
			font-size: 0.9em;
		}

		#mobile-tabs {
			align-items: stretch;
			justify-content: space-around;
			height: 100%;
		}

		#mobile-tabs > * {
			flex: 1;
		}

		#action-buttons {
			align-items: center;
			justify-content: space-around;
			justify-content: space-between;
			margin: 0 3rem;
			height: 100%;

			.btn {
				display: flex;
				flex-flow: row;
			}

			.btn-list {
				display: flex;
				flex-direction: column;
			}

			.btn-green {
				font-size: 3.5rem;
				@media (min-width: bmod-common.$mobileWidth) {
					font-size: 3em;
				}
				&[disabled] {
					@include bmod-common.balloon("Please start a new game");
				}
			}
			.btn-list {
				border-radius: 0.5rem;
				// height: 100%;
				display: grid;
				grid-template-areas: "a b" "c d";
				> * {
					border-radius: 0;
				}
			}
		}
	}
}

:has(#action-buttons .btn-green[disabled]:hover) #start-game {
	outline: solid white 2px;
	margin: 2px;
}

#bmod-sidenav {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	grid-area: sidenav;
	background-color: var(--bmod-brown);

	.btn {
		padding: 0.3rem 1rem;
		border-radius: 0;
	}
	a,
	a .item-card {
		width: 100%;
	}
}

#bmod-server-list {
	grid-area: servers;
	display: flex;
	flex-flow: column;
	gap: .6em;
	justify-content: stretch;
}

.bmod-panel-duo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	width: 100%;
	gap: .6em;
}

#asset-pack-container:focus-within #asset-pack-manager {
	display: flex;
}

#asset-pack-manager {
	display: none;
	position: absolute;
	background-color: var(--bmod-brown);
	border-radius: 1.5rem;
	bottom: 90%;
	outline: solid var(--darken);
	gap: .6em;
	flex-direction: column;
	padding: 2rem;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	left: .6rem;
	& > * {
		// &:hover {
		// 	background-color: var(--lighten);
		// }
		display: flex;
		gap: 2rem;
		align-items: center; 
		justify-content: space-between;

		:last-child {
			display: flex;
			align-items: center;
			i:last-child {
				font-size: 2em;
			}
		}
	}
}
