.layout {
	margin-top:20px; display:flex; flex-wrap:wrap;
	&center {align-items:center}
	.col {
		margin-top:10px; padding:0 20px; box-sizing:border-box;

		img {max-width:100%; /*filter:drop-shadow(5px 5px 10px #111)*/}
	}

	@media (min-width: 800px) {
		.col-1 {flex:1}
		.col-2 {flex:2}
		.col-0_5 {flex:0.5}
	}
}
