@use "bmod-common";
@use "structure";
@use "bmod-text";

:root {
	--text-color: #f9f9f9;
	--text-color-dark: #222222;
	--bmod-orange: orange;
	--bmod-orange-dark: rgb(199, 126, 0);
	--discord-blurple: #5865f2;
	--btn-bg: #776b5f;
	--btn-bg-dark: #5f5143;
	--btn-green: #56842c;
	--btn-green-dark: #3e5e21;
}

[onclick] {
	cursor: pointer;
}

input,
select,
button {
	outline: none;
	border: none;
}
[data-balloon] {
	@include bmod-common.balloon(attr(data-balloon));
}

.btn-check {
	display: none;
}

$textColorDark: var(--text-color-dark);
$bmodOrange: var(--bmod-orange);
$darken: var(--darken);
$trans: var(--trans);
$btnBg: var(--btn-bg);
$btnBgDark: var(--btn-bg-dark);

input:not([type="submit"]):not([type="button"]):not([type="reset"]),
select {
	padding: 0.5em 2em;
	border-radius: 1em;
	color: $textColorDark;
	background: $bmodOrange;
	background-color: $darken;
	&:empty {
		background-color: none;
	}
}

// Button and link base styles
%btnLinkBase {
	text-decoration: none;
	cursor: pointer;
	font-weight:bold;
	&[disabled] {
		cursor: not-allowed;
	}
}

// Link styles
%link {
	@extend %btnLinkBase;
	color: $bmodOrange;
}

// Button styles
%btn {
	@extend %btnLinkBase;
	@extend .font-tf2;
	align-items: baseline;
	user-select: none;
	display: inline-flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.5rem;
	border: none;
	/*border-radius:25%;*/
	border-radius: 0.5rem;

	color: var(--text-color);
	font-size: 1rem;
	text-align: center;

	img,
	svg {
		width: auto;
		height: 2rem;
		vertical-align: text-bottom;
	}

	.mdi {
		font-size: 1.5rem;
	}

	&.big {
		font-size: 1.7em;
		padding: 0.3rem 1rem;
		border-radius: 0.5rem;
	}

	&[disabled] {
		background-color: grey;
		color: lightgray;
	}

	&.btn-icon i {
		margin-right: .5rem;
	}
}

// Button and link application
a[href]:not([href=""]):not(.btn),
a[href]:not([href=""]):visited:not(.btn),
a[href]:not([href=""]):link:not(.btn) {
	@extend %link;
}

a[href].btn:not([href=""]),
a[href].btn:not([href=""]):visited,
a[href].btn:not([href=""]):link,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn {
	@extend %btn;
}

// Additional link styles
a:not([href]),
a[href=""] {
	color: inherit;
}

/* BalenceMod Nav Item */
.bmod-navitem {
	width: min-content;
	height: 74px;
	padding: 0 5px;
	border-radius: 0.3em;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.7em;
	text-decoration: none;
	color: #ebe9cc;
}
.bmod-navitem:not(.img) {
	background-color: #776b5f;
}
.bmod-navitem i {
	font-size: 60;
}

.btn-basic {
	background-color: $btnBg;

	&:hover,
	&.active {
		background-color: $btnBgDark;
	}
}

.btn-trans {
	background-color: $trans;
	&:hover {
		background-color: var(--lighten);
	}
	.active > &,
	&.active {
		background-color: var(--darken);
	}
}

.btn-green {
	background-color: var(--btn-green);
	&:hover {
		background-color: var(--btn-green-dark);
	}
}
.btn-discord {
	background-color: var(--discord-blurple);
}

%bmodLink {
	width: min-content;
	padding: 5px 10px;
	border-radius: 0.3em;
	font-size: 1.3em;
	color: #ebe9cc;
	text-decoration: none;
}
.bmod-copylink {
	background-color: #776b5f;
	@extend %bmodLink;
}

.bmod-joinlink {
	background-color: #56842c;
	@extend %bmodLink;
}
