.bmod-message-box {
	margin-bottom:16px; padding:12px 24px; box-sizing:border-box; overflow:hidden;
	border:1px solid; border-color:#a2a9b1; word-wrap:break-word; overflow-wrap:break-word;
	background-color:#eaecf0; color:#000;

	&-warning {background-color:#fef6e7; border-color:#fc3}
	&-success {background-color:#d5fdf4; border-color:#14866d}
	&-error {background-color:#fee7e6; border-color:#d33}
}
