::-webkit-scrollbar {
	width: 10px;


  }
  
  ::-webkit-scrollbar-track {
	  background: #313131;
	//   width: 4px;
	  scrollbar-width: thin;
	  :has(:hover) {
		// width: 8px;
	  }
	}
	
	::-webkit-scrollbar-thumb {
	  background: #a4a4a3;
	  &:hover {
		  background: #c9c9c7;
		}
	}