@use "bmod-common";

/* Responsive images */
img.responsive {width:100%; height:auto}

h1,h2,h3,h4 {
	img {height:1.5rem; margin-right:.3rem; vertical-align:bottom}
}

@mixin squircle($radius: 50%, $aspect-ratio: 1, $smoothness: 4) {
	--squircle-radius: #{$radius};
	--squircle-aspect-ratio: #{$aspect-ratio};
	--squircle-smoothness: #{$smoothness};
  
	aspect-ratio: var(--squircle-aspect-ratio);
	-webkit-clip-path: path("M 0,50 C calc(var(--squircle-radius) * var(--squircle-smoothness) / 100),0 100,calc(var(--squircle-radius) * var(--squircle-smoothness) / 100) 100,50 S calc(var(--squircle-radius) * var(--squircle-smoothness) / 100),100 0,50 Z");
	clip-path: path("M 0,50 C calc(var(--squircle-radius) * var(--squircle-smoothness) / 100),0 100,calc(var(--squircle-radius) * var(--squircle-smoothness) / 100) 100,50 S calc(var(--squircle-radius) * var(--squircle-smoothness) / 100),100 0,50 Z");
}

%w100p {width:100%}
%h100p {min-height:100%}
%hw100p {@extend %w100p; @extend %h100p}

html {
	height: 100vh;
	width: 100vw;
	scroll-behavior:smooth;
	@media (min-width:1932px) {
		background-size:contain;
	}
}

html, body {@extend %hw100p; margin:0; padding:0; position:relative}

*, ::before, ::after {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
	/*margin:0;*/ word-wrap:break-word; max-width: 100vw}

html, body {margin:0; padding:0; min-height:100vh}

body {
	overflow: clip;
}


.js-only,.tauri-only,.pwa-only, .debug-only {display:none}

.hide {display:none!important}

@media (max-width: 1500px) {
	.hide-medium {display:none!important}
}
@media (min-width: 1500px) {
	.show-medium {display:none!important}
}

@media (min-width: 850px) {
	.show-mobile {display:none!important}
}

@media (max-width: 850px) {
	.hide-mobile, #bmod-list .panel-body {display:none!important}
}

html {position:relative; min-height:100%; background-color:black}

body {display:grid; grid-template-areas:"header" "main" "footer"; grid-template-rows:auto 1fr auto}

header {grid-area:header}
main {
	display:flex; flex-flow:column; justify-content:center; grid-area:main;

	@media (min-width: bmod-common.$mobileWidth) {
		.container {margin-top:3em; margin-bottom:3em}
	}
}
footer {grid-area:footer}

.container {
	width:100%; margin:0 auto;
	$containerWidth:1200;
	$baseScreen:1920;
	max-width:#{$containerWidth}px;
	@media (min-width: #{$baseScreen}px) {
		max-width:calc(100% * ($containerWidth / $baseScreen));
	}
	/* 4k */
	/*max-width:2500px;*/
}

h2 {margin:0}
