table {
	/*img {max-height:2em}*/

	/*.bmod-server-list th:nth-child(1) {width:4em}*/
	/*.bmod-server-list th:nth-child(2) {width:2em}*/
	/*.bmod-server-list th:nth-child(7) {width:38em}*/
	/*.bmod-server-list tr {height: 3em}*/

	:not(:hover) .onhover {display: none}
	tr:nth-child(even) {background-color:rgba(1, 1, 1, 0.2)}
	td {text-align:center}
}

/* Sort Triangle */
th {padding-right:30px}
th.bmod-sort {
	position:relative;



	&::after {
		content:""; position:absolute; width:0; height:0;
		margin-left:5px; border:10px solid transparent}
	
	&.desc::after {top:43%; border-top-color:#ebe9cc; border-bottom-width:0}
	&.asc::after {bottom:43%; border-top-width:0; border-bottom-color:#ebe9cc}
}

.bmod-server-list th:nth-child(4) {width:80em}
