---
title: "fish"
layout: classic
external_js:
- https://cdn.jsdelivr.net/npm/jszip/dist/jszip.min.js
modules:
- mm-assets.js
---
<p>(chromium based browsers only i think)</p>
<a href="#" class="btn" id="tf2-folder-picker">Open TF2 Folder</a>
<span ><em id="tf2-folder-picker-selected">None selcted</em></span>


<a href="#" class="btn" id="tf2-extract">Extract to folder</a>