---
title: Balance Mod
---
<div class="layout">
	<div class="col col-2">
		The Balance Mod is a Mod for Team Fortress 2 that introduces new features and re-balances all of the unbalanced
		weapons in the game.
		<div>Certain weapons have been completely reworked and function very differently from the vanilla game.</div>
		<br>
		<div>This mod has quick update cycles, which allows us to test small changes often. Drop by our <a
				href="https://discord.gg/VMAJgEJ">discord</a> if you have ideas, we'd love to hear'em!</div>
		<br>
		<div><a href="https://www.bmod.tf/testimonials">See our testimonial page for what some players thinks of this
				mod.</a></div>
		<br>
		<div>This page contains information to everything that is new and vastly different than the official game.</div>
		<br>
		<center>
			<div>For a a full comprehensive list of all the changes see the </div>
			<div><a href="{{site.url}}/balance">Balance Update Notes</a> or check the <a
					href="{{site.url}}/moddedweapons">Modded weapons
					page.</a></div>
			<br>
			<div>To see servers running this mod, see the </div>
			<div><a href="https://teamwork.tf/community/customserverlist/51">Teamwork.tf balance mod page</a></div>
		</center>
	</div>
</div>
<div class="container">
	<div class="section_header">Balancinator
	</div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/balancinator.webp" alt="icon" style="transform: rotate(+0deg)">
		</div>
		<div class="col col-1">
			<p>Replaces the canteen with a balancinator</p>
			<li>Unzip the contents in your tf/custom folder</li>
			<li>Will only work on servers that allows custom models</li>
			<p><a href="{{site.url}}/balancinator.zip">Download Balancinator Canteen skin</a></p>

		</div>
	</div>
</div>
</div>
<div class="container">
	<div class="section_header">Dragon's Fury & Manmelter particle fix
	</div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/dfmfix.webp" alt="icon" style="transform: rotate(+0deg)">
		</div>
		<div class="col col-1">
			<p>Fixes the effects that's in your face</p>
			<li>Unzip the contents in your tf/custom folder</li>
			<li>Will only work on servers that allows custom particles</li>
			<p><a href="{{site.url}}/manmelter_dragons_fury_particle_fix.zip">Download Dragon's Fury & Manmelter
					Particle Fix</a></p>

		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">
		<h1>New Stuff</h1>
	</div>
	<div class="section_header">Engipads
	</div>
	<div class="col col-1 ta-center">
		<img src="{{site.assets.folder}}/images/engiboard.webp" alt="Generic Image" style="transform: rotate(0deg)">
	</div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/engipads.webp" alt="icon" style="transform: rotate(+2deg)">
		</div>
		<div class="col col-1">
			<p>When normal teleporters are of no use, engipads steps in!</p>
			<li>Use +attack3 to change between Engipad and teleporter mode</li>
			<li>Rotate teleporter to change between speed and jump configuration</li>
			<li>Mix and match jump pad and speed pad as you see fit on the fly!</li>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Spy Sprint</div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<ul>
				<p>Spy Sprint is a new mechanic that allows spy to run at spy speed regardless of disguise.
					How to use Spy Sprint:<br />
				</p>
				<li>Bind +attack3 to a key via console or options</li>
				<li>Holding key to run at max spy speed regardless of disguise.</li>
				<li>Works great with Your Eternal Reward</li>
				<li>Will override any speed boost from taking effect while held</li>
			</ul>
		</div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/spysprint.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Throw-able Red-Tape Recorder</div>
	<div class="ta-center">You can now throw the red-tape recorder like in Meet the Spy!</div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<div>Removed:</div>
			<ul>
				<li><s>Sapper deconstructs buildings</s></li>
			</ul>
			<div>Added:</div>
			<ul>
				<li>Press reload to throw the sapper!</li>
				<li>Thrown Red-Tape Recorder only disables buildings and deals 0 damage</li>
				<li>Attached Red-Tape recorder no longer deconstructs </li>
				<li>Attached Red-Tape deals -80% damage to buildings</li>
				<li>Attached Red-Tape is removed in one hit</li>
			</ul>
		</div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/throwsap.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
	</div>
</div>
<!-- <div class="container"> -->
<!-- <div class="section_header"> -->
<!-- <h1>New Medic Unlock Meta</h1> -->
<!-- </div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-2"> -->
<!-- <img src="{{site.assets.folder}}/images/vitasaw-heavy.webp" alt="Generic Image" -->
<!-- style="transform: rotate(0deg)"> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="ta-center"> -->
<!-- <p>The official medic unlock meta is locked to always using the crossbow and ubersaw. <br /> -->
<!-- With the changes below to various medic items, there's no longer a <i>"best"</i> all-purpose item -->
<!-- combination. -->
<!-- </p> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Vita-saw Rework</div> -->
<!-- <div class="ta-center"><i>Crossbow melee version</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/vitasaw.webp" alt="Generic Image" -->
<!-- style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Removed:</div> -->
<!-- <ul> -->
<!-- <div> -->
<!-- <li><s>Keeping ubercharge when you die</s></li> -->
<!-- </div> -->
<!-- </ul> -->
<!-- <p></p> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>On hit: Heal Teammate for 50 hp (can overheal). Gain 1% uber</li> -->
<!-- <li>Removes: jarate, madmilk, fan'o war, gas and afterburn</li> -->
<!-- <li>Increased melee range 70%</li> -->
<!-- <li>-25% damage done</li> -->
<!-- <li>-20% swing speed</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>The crossbow remains the best burst heal option in the game for medic. However it also perma locks -->
<!-- the primary weapon slot. With the other changes to medic, the vita-saw now serves as a more powerful -->
<!-- and potent melee burst heal and anti-debuff option. However it does leave the medic in vulnerable -->
<!-- range if used within combat, and susceptible to splash damage.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Amputator Buff</div> -->
<!-- <div class="ta-center"><i>Viable AOE healing tool</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/amputator.webp" alt="Generic Image" -->
<!-- style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>While active: Cancel healing taunt by pressing taunt or jump key</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>The amputator taunt left you too vulnerable and wasted heals when teammates reached max health, -->
<!-- adding canceling ability makes it more versitile and an equal contender to the other melee unlocks. -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header"> -->
<!-- <font size="20">Syringe Guns Overhaul</font> -->
<!-- </div> -->
<!-- <div class="section_header">Syringe Gun</div> -->
<!-- <div class="ta-center"><i>Ranged Ubersaw</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/syringegun.webp" alt="Generic Image" -->
<!-- style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>On hit: Gain 0.5% uber pr needle hit</li> -->
<!-- <li>On hit: Gain 1% uber charge bonus on needle hit, caps at 20%</li> -->
<!-- <li>Passive reload</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>With the crossbow being as is there's no reason to use this ever.</div> -->
<!-- <div>Now that it gives uber on hit, there is an actual reward for hitting enemies with the syringes.</div> -->
<!-- <div>This is still a defense tool, so don't expect great results if you use it offensively.</div> -->
<!-- <div>Catching enemies off guard or shooting a sandwich eating heavy will yield a lot of uber</div> -->
<!-- <div>Don't forget to heal, if you go crazy with the needles, your team will suffer and you will lose.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Overdose</div> -->
<!-- <div class="ta-center"><i>More Speed</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/overdose.webp" alt="Generic Image" style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>While active: 5% faster movespeed</li> -->
<!-- <li>Passive reload</li> -->
<!-- <li>-50% clip size</li> -->
<!-- <li>While Active: Maximum health lowered by 20</li> -->
<!-- <p></p> -->
<!-- </ul> -->
<!-- <div>Changed:</div> -->
<!-- <ul> -->
<!-- <li>Reduced the base of speed received by uber by 14.3%</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>While being a decent escape tool when you have uber, with the buffs of the other syringes, this one needed a little tweak, so now if you spawn by yourself you can use this to run to the fight faster.</div> -->
<!-- <div>he clipsize is to reduce the damage output even more, as good medics would use superiour speed to never get hit and do damage pretty effectively.</div> -->
<!-- <div>Synergises well with the new Vita-saw.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Blutsauger</div> -->
<!-- <div class="ta-center"><i>No longer shit</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/blutsauger.webp" alt="Generic Image" -->
<!-- style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Removed:</div> -->
<!-- <ul> -->
<!-- <li><s>Passive health drain</s></li> -->
<!-- </ul> -->
<!-- <p></p> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>On enemy hit: Overheal</li> -->
<!-- <li>On teammate hit: Heal yourself and teammate for 1 HP pr needle </li> -->
<!-- <li>Passive reload</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>The passive health regen penalty was too much compared to what you got when actively using it.</div> -->
<!-- <div>This weapon made you have less sustain as medic when you were doing medic things.<i> (healing)</i> -->
<!-- </div> -->
<!-- <div>Having a teammate nearby will be useful to heal yourself when you are wounded or on fire and about to -->
<!-- die.</div> -->
<!-- <div>As loading a full clip will serve as a small health kit in controled situations.</div> -->
<!-- <div>Now this is truly the best combat-survival tool for the medic.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header"> -->
<!-- <h1>Stock Melee Weapon Buffs</h1> -->
<!-- </div> -->
<!-- <div class="ta-center"> -->
<!-- <p>Some unlocks functions as straight upgrades over stock, but not anymore!<br /> -->
<!-- </p> -->
<!-- </div> -->
<!-- <div class="section_header">Shovel</div> -->
<!-- <div class="ta-center"><i>Applies to all-class re skins for Soldier</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/shovel.webp" alt="Generic Image" style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>This weapon deploys 40% faster</li> -->
<!-- <li>-20% blast damage from rocket jumps</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>With the arsenal that soldier has, the shovel is easily overshadowed by the options he has.</div> -->
<!-- <div>This current design allows the soldier to get more melee kills if he gets the first hit.</div> -->
<!-- <div>As the slowed enemy on hit and less push force allows to keep up with your target easier.</div> -->
<!-- <div>This weapon pairs really well with the buffed mantreads.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Bonesaw</div> -->
<!-- <div class="ta-center"><i>Applies to all-class re skins for Medic</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/bonesaw.webp" alt="Generic Image" style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>On hit: Apply bleed for 4 seconds</li> -->
<!-- <li>On kill: Enemy drops a small healthkit</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>With the Ubersaw being as is there's no reason to use this ever.</div> -->
<!-- <div>This makes it a good passive secondary where you goet more value out of healthpacks.</div> -->
<!-- <div>Works great for tracking spies while they bleed.</div> -->

<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Fists</div> -->
<!-- <div class="ta-center"><i>Applies to all-class re skins for Heavy</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/fists.webp" alt="Generic Image" style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>25% faster global weapon switch speed</li> -->
<!-- <li>20% faster reload time to all secondary weapons except Lunch Box items</li> -->
<!-- <li>Increased throwing power on thrown lunchbox items.</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>With the Gloves of Running Urgently and Fists of Steel,</div> -->
<!-- <div>there's really no reason to use the fists ever.</div> -->
<!-- <div>With the faster weapon switch speed and reload speed, it allows for more shotgun play.</div> -->
<!-- <div>Works really well with lunch box items too for throwing to teammates.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Fire Axe</div> -->
<!-- <div class="ta-center"><i>Applies to all-class re skins for Pyro</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/fireaxe.webp" alt="Generic Image" style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>While active: On hit by fire: Gain fire resistance for 2 seconds</li> -->
<!-- <li>While active: On hit by fire: Gain 2 seconds of mini-crit and locked to melee</li> -->
<!-- <li>20% max ammo on primary weapon</li> -->
<!-- </ul> -->
<!-- <div>Why?</div> -->
<!-- <div>With all the other utility the pyro has for melee. Doing 65 damage is not that appealing</div> -->
<!-- <div>The faster global weapon switch speed, allows you to run stock flame thrower.</div> -->
<!-- <div>When you would have ran perma-degreaser.</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header"> -->
<!-- <h1>Major changes for Pyro</h1> -->
<!-- </div> -->
<!-- <div class="section_header">The Hot Hand now viable</div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <div class="col col-2"> -->
<!-- <div>Hot Hand</div> -->
<!-- Added: -->
<!-- <ul> -->
<!-- <li>While weapon is active:</li> -->
<!-- <li>+15% move speed on wearer</li> -->
<!-- <li>Gain a speed boost when you hit an enemy player</li> -->
<!-- <li>-20% Damage done</li> -->
<!-- <li>+20% More damage taken</li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Run faster -> Slap -> Run fasterer</div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <img src="{{site.assets.folder}}/images/hothand.webp" alt="Generic Image" class="center" width="527" height="392" -->
<!-- style="transform: rotate(0deg)"> -->
<!-- </div> -->
<!-- <div class="container"> -->
<!-- <div class="section_header">Sharpened Volcano Fragment Rework</div> -->
<!-- <div class="ta-center"><i>Nuke on a stick</i></div> -->
<!-- <div class="layout"> -->
<!-- <div class="col col-1"> -->
<!-- <img src="{{site.assets.folder}}/images/sharpened.webp" alt="Generic Image" -->
<!-- style="transform: rotate(-2deg)"> -->
<!-- </div> -->
<!-- <div class="col col-2"> -->
<!-- <div>Removed:</div> -->
<!-- <ul> -->
<!-- <div> -->
<!-- <li><s>-20% damage penalty</s></li> -->
<!-- </div> -->
<!-- </ul> -->
<!-- <p></p> -->
<!-- <div>Added:</div> -->
<!-- <ul> -->
<!-- <li>On hit: lights target on fire, deals 30 damage</li> -->
<!-- <li>On burning target hit: Causes small armor piercing explosion dealing 80 damage and lights nearby -->
<!-- enemies on fire for 3 seconds</li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
