---
excerpt: "List of all of the balance changes"
background-head: false
layout: classic
css:
 - balance.css
 - backpack.css
---

{% comment %}{% import "macros.html" as macros %}{% endcomment %}

{% comment %}
{% set data = read_data("/tf2rebalance_attributes_summary.json") %}
{% endcomment %}

<div id="main-content">
	<a name="classes"></a>
	<div class="ta-left">
		<h2>Classes</h2>
	</div>
	{% for class_change in tf2rebalance_attributes_summary.Classes.classes.unknown.slots.unknown.infos %}

	<div class="container">
		<a name="c_{{ class_change.weapons[0].name }}"></a>
		<div class="ta-left">
			<i>{{ class_change.weapons[0].name }}</i>
			<div class="layout">
				<div class="col col-1">
					<ul>
						{% include changesli.html, string: class_change.info %}
					</ul>
					<div class="balance-why">
						Why?<br>
						{{ class_change.additionalFields["Why?"] }}
					</div>

				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<a name="weapons"></a>
	<div class="ta-left">
		<h2>Weapons</h2>
	</div><br><br>
	{% for weapon_changes_class_kv in tf2rebalance_attributes_summary.Weapons.classes %}
	{% assign weapon_changes_class=weapon_changes_class_kv[1] %}
	<div class="container">
		<a name="w_{{weapon_changes_class.name}}"></a>
		<div class="ta-left">
			<i>{{weapon_changes_class.name }}</i>
			<div class="layout">
				<div class="col col-1">
					{% for slot_changes in weapon_changes_class.slots %}

					{% for weapon_changes in slot_changes[1].infos %}
					<b>
						{% for weapon_names in weapon_changes.weapons %}
						{{ weapon_names.name }}
						{% unless forloop.last %},
						{% endunless %}
						{% endfor %}
					</b>
					<div class="weapon-changes">
						{% include changesli.html, string: weapon_changes.info %}
					</div>

					<div class="balance-why">
						Why?<br>
						{{weapon_changes.additionalFields["Why?"]}}
					</div><br>

					{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

	<div id="index">
		<div>
			<a href="#classes">Classes</a>
		</div>
		<ul>
			<li>
				<a href="#c_Engineer">Engineer</a>
			</li>
			<li>
				<a href="#c_Sniper">Sniper</a>
			</li>
			<li>
				<a href="#c_Spy">Spy</a>
			</li>
		</ul>
		<div>
			<a href="#weapons">Weapons</a>
		</div>
		<ul>
			<li><a href="#w_Demoman">Demoman</a></li>
			<li><a href="#w_Engineer">Engineer</a></li>
			<li><a href="#w_Heavy">Heavy</a></li>
			<li><a href="#w_Medic">Medic</a></li>
			<li><a href="#w_Pyro">Pyro</a></li>
			<li><a href="#w_Scout">Scout</a></li>
			<li><a href="#w_Sniper">Sniper</a></li>
			<li><a href="#w_Soldier">Soldier</a></li>
			<li><a href="#w_Spy">Spy</a></li>
		</ul>
	</div>
</div>
