---
title: Categories
excerpt: "List of all categories on the website"
---
<!-- LIST -->
<div class="page-section">
	<div class="list block">
		{% for cat in site.categories %}
		{% assign item_title = cat %}
		{% capture item_url %}/{{item_title}}/{% endcapture %}
		{% include item.html, item_title: item_title, item_url: item_url, have_link: true, have_title: true %}
		{% else %}
		(none)
		{% endfor %}
	</div>
</div>
