---
title: Worth The Weight Update
container: true
excerpt: "Since Valve hasn't shipped the Heavy Update yet, here's some of the major changes to the Heavy's
arsenal."
---

<div class="container">
	<div class="layout">
		<div class="col col-1"></div>
		<div class="col col-2">
			<div><img src="{{site.assets.folder}}/images/heavyimg.webp"></div>
			<center>
				<div>Since Valve hasn't shipped the Heavy Update yet, here's some of the major changes to the Heavy's
					arsenal.</div>
				<div>To view the complete list of all changes in the mod click <a
						href="{{site.url}}/moddedweapons">here</a></div>
			</center>
		</div>
		<div class="col col-1"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Natascha Rework</div>
	<div class="ta-center"><i>Inverted slow</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/natascha.webp" alt="Generic Image" style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			Removed:
			<ul>
				<li>
					<s>
						Damage resistance blow 50%hp while spun up
				</li>
				<li>On hit: Slow enemy</li>
				<li>Slower spin-up time</li></s>
			</ul>
			<p></p>
			Added:
			<ul>
				<li>+15% faster move speed while deployed</li>
				<li>Speed boost on hit</li>

			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Natascha is not very fun to play against as getting slowed really sucks.</div>
			<div>The low damage combined with slow revup time usually meant enemies would run away or not die at all. By
				inverting the slow on enemy, to speed on hit, gives heavy slightly bit more mobility and the short speed
				boost allows for some interesting techs.</div>
			<div></div>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Brass Beast</div>
	<div class="ta-center"><i>No longer ass</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/brassbeast.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			Removed:
			<s>
				<ul>
					<li>Damage resistance when under 50% hp while spun up</li>
			</s>
			</ul>
			<p></p>
			Changed:
			<ul>
				<li>Increased move speed while deployed from -60% to -40%"</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Brass Beast is really bad, because of how slow you move spun up.</div>
			<div>Slowness stacks exponentially, making you easy to kill, despite having resistance.</div>
			<div> Since enemies could just outmaneuver you with ease since you were so slow.</div>
			<div>By making you move slightly faster you get more out of the damage bonus.</div>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Huo-Long Heater</div>
	<div class="ta-center"><i>Scariest minigun at close range</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/huolong.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			Added:
			<ul>
				<li>Mini-crits effect on burning targets for better game feedback.</li>
			</ul>
			<p></p>
			Changed:
			<ul>
				<li>Increased initial flame ring damage from 12 to 30.</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Huo-Long heater runs out of ammo really quickly.</div>
			<div>It doesn't offer enough damage or damage indication when you shoot enemies on fire.</div>
			<div>The flame circle offers no real danger, but with this change it's really lethal at point blank.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Dalokohs Bar</div>
	<div class="ta-center"><i>Faster nom</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/dalokohsbar.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			Added:
			<ul>
				<li>40% faster eating</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Dalokohs bar is a downgrade of the banana.</div>
			<div>With the faster eating speed, it's easier to use it right before combat.</div>
			<div>This change makes it achieve it's design easier.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Buffalo Steak Sandwich</div>
	<div class="ta-center"><i>The fastest nom there is</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/steak.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			Removed:
			<ul>
				<li><s>20% more dmg taken while buff is active</s></li>
			</ul>
			<p></p>
			Added:
			<ul>
				<li>Cancel the effects by pressing reload or special attack key</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Steak offers very little use.</div>
			<div>With the ability to cancel you aren't as locked to committing with this weapon.</div>
			<div>The removal of the additional damage taken makes this item more viable.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Fists</div>
	<div class="ta-center"><i>Includes all-class re skins</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/fists.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			Added:
			<ul>
				<li>20% global weapon switch speed</li>
				<li>20% faster reload time on shotguns</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Fists has no reason to be used ever.</div>
			<div>With the faster weapon switch shotgun usage is easier.</div>
			<div>Pairs really well with secondary items, especially shotgun.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Eviction Notice</div>
	<div class="ta-center"><i>More viable</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/evictionnotice.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>30% faster holstering speed</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The Eviction Notice offered very little compared to the GRU. The issue was that even if you used it
				properly it gave way less value than just using gru in any scenario.</div>
			<div>With the health faster deploy time it allows for quicker firing after short repositioning.</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Fists of Steel</div>
	<div class="ta-center"><i>Now Balanced</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/fists_of_steel.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Removed:</div>
			<ul>
				<li><s>Old stats</s></li>
			</ul>
			<div>Added:</div>
			<ul>
				<li> While active: </li>
				<li>-40% Damage from ranged sources</li>
				<li>+100% damage from melee sources</li>
				<li>Health from heal beams -70%</li>
				<li>-30% slower firing speed</li>
				<li>-60% slower deploy time</li>
				<li>Medics builds uber build 50% slower while item is active</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The slower holstering speed could be negated by switching weapons really fast.</div>
			<div>With the max health change led to bugs depending on when a medic began healing you.</div>
			<div>This version serves the tanky purpose, without having the same damage output and issues of the official
				one </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Warrior's Spirit</div>
	<div class="ta-center"><i>No longer glass cannon</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/warriors_spirit.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Removed:</div>
			<ul>
				<li><s>Old stats</s></li>
			</ul>
			<div>Added:</div>
			<ul>
				<li>+25% Longer melee range</li>
				<li>On hit: Bleed for 3 seconds</li>
				<li>+10% damage done</li>
				<li>10% slower deploy time</li>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The glass-cannon type melee unlock isn't really suited for Heavy, and thus the warrior spirit combined
				with official steak was hardly ever used by anyone.</div>
			<div>The increased range will help with getting melee kills. The bleed is to the claws being sharp and makes
				it easier to track spies.</div>
			<div>The less damage is to negate the fact that you don't take more damage while using steak and using
				these.</div>
		</div>
	</div>
</div>
