---
permalink: /
layout: app
show-servers: true
seo:
    url: "https://www.youtube.com/watch?v=qaUTMn8fdpQ"
videos:
 - "https://www.youtube.com/embed/qaUTMn8fdpQ"
 - "https://www.youtube.com/embed/UtbBpdxCVcc"
external_js:
 - //player.twitch.tv/js/embed/v1.js
---
<div id="bmod-welcome">
<div id="bmod-welcome-video">
</div>
<div class="bmod-panel-duo">
	<article class="bmod-panel">
		<div class="panel-header"><a href="/balancemod"><h2>Balancemod</h2></a></div>
		<div class="panel-body text">
			<ul>
				<li>Rebalanced TF2</li>
				<li>Bad weapons are good</li>
				<li>Overpowered weapons are good</li>
				<li>Reworked useless weapons</li>
				</ul>
		</div>
	</article>
	<article class="bmod-panel">
		<div class="panel-header"><a href="/mannedmachines"><h2>Manned Machines</h2></a></div>
		<div class="panel-body text">
			<ul>
				<li>Giant Robot PvP mode</li>
				<li>Assymetric gameplay</li>
				<li>You can play as robots</li>
				<li>Human team has custom buff</li>
			</ul>
		</div>
	</article>
</div>
</div>

<script type="module">
	(function () {

const videos = [
	{% for video in site.home-videos %}
		`{% include media.html, url: video %}`,
		{% endfor %}
	];

var options = {
	// width: <width>,
	// height: <height>,
	channel: "{{site.twitch}}",
	muted: false,
	autoplay: true
};
var player = new Twitch.Player("bmod-welcome-video", options);
player.setVolume(0.5);
if(videos.length)
	player.addEventListener("offline", _ => {
		player._target.innerHTML = videos[Math.round(Math.random()*(videos.length-1))]
	})

})()
</script>