---
title: Mantra
container: true
excerpt: These are the rules the Balancemod follows when re-balancing or redesigning weapons
---


<div class="layout">

	<div class="col col-1"></div>
	<div class="col col-2">

		<center>
			<div>These are the rules the Balancemod follows when re-balancing or redesigning weapons</div>
			<div>To view the complete list of all changes in the mod click <a href="{{site.url}}/balance">here</a></div>
		</center>
	</div>

	<div class="col col-1"></div>
</div>

<div class="container">
	<div class="section_header">The rules of balance</div>
	<div class="ta-center"><i>Without rules everything falls apart</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">

		</div>
		<div class="col col-2">

			Rules of Balance:
			<ol>
				<li>All weapons should be viable in the right situations</li>
				<li>General weapons must not overshadow niche weapons</li>
				<li>A weapon can be a different version of another weapon as long they do not do the same thing. (More
					damage and faster attack speed is not the same thing, even though both affect the damage per second)
				</li>
				<li>Class integrity: Classes and their repsective weapons shall remain unique and refrain from blending
					together</li>
			</ol>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>


<div class="container">
	<div class="section_header">Balance Concepts:</div>
	<div class="ta-center"><i>Mobility, Speed, Power</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			Mobility:
			<ul>
				<li>Ability to move horizontally and vertically</li>
			</ul>
			<p></p>
			Power:
			<ul>
				<li>Ability to give and take damage</li>
			</ul>
			<p></p>
			Utliltiy:
			<ul>
				<li>Everything else that doesn't fall within mobility or power</li>
			</ul>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="container">
	<div class="section_header">Mobility</div>
	<div class="ta-center"><i>Speed, Jump height, Weight, Air Control</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			Speed
			<ul>
				<li>Running</li>
				<li>Jumping</li>
				<li>Explosive jumping</li>
			</ul>
			<p></p>
			Jump height
			<ul>
				<li>Normal jump</li>
				<li>Crouch jump</li>
				<li>Stat modified jump</li>
			</ul>
			<p></p>
			Weight
			<ul>
				<li>Distance pushed from damage / airblast taken</li>
			</ul>
			<p></p>
			Air Control
			<ul>
				<li>Control while moving in the air</li>
			</ul>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Power:</div>
	<div class="ta-center"><i>Damage, Defense, Knock back, Reliability, Healing</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			Damage
			<ul>
				<li>Damage per second</li>
				<li>Effective Damage per second</li>
				<li>Reload time</li>
				<li>Splash</li>
				<li>Single target</li>
				<li>Penetration</li>
				<li>Sustainability</li>
				<li>Lingering</li>
			</ul>
			<p></p>
			Defense
			<ul>
				<li>Effective health</li>
				<li>Damage taken modifiers</li>
			</ul>
			<p></p>
			Knock back
			<ul>
				<li>Distance pushed from damage or airblast</li>
			</ul>
			<p></p>
			Reliability
			<ul>
				<li>Accuracy</li>
				<li>Consistency</li>
			</ul>
			<p></p>
			Healing
			<ul>
				<li>Amount of damage undone</li>
				<li>Gradual</li>
				<li>Burst</li>
				<li>Single target</li>
				<li>Area of effect</li>
			</ul>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>

<div class="container">
	<div class="section_header">Utility:</div>
	<div class="ta-center"><i>Buff, debuff, crowd control, deception</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">

			Buff
			<ul>
				<li>Increases Power</li>
				<li>Increases Mobility</li>
			</ul>
			<p></p>
			Debuff
			<ul>
				<li>Decreases Power</li>
				<li>Decreases Mobility</li>
			</ul>
			<p></p>
			Crowd Control
			<ul>
				<li>Effect applied to group of players within a specified area simultaneously</li>
			</ul>
			<p></p>
			Deception
			<ul>
				<li>Invisibility</li>
				<li>Feign Death</li>
				<li>Disguise</li>
				<li>Fake sounds</li>
				<li>Anything else that can cause confusion to the enemy</li>
			</ul>
			<p></p>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Class Integrity:</div>
	<div class="ta-center"><i>Keeping classes unique and separate</i></div>
	<div class="layout">
		<div class="col col-1">
		</div>
		<div class="col col-2">



			<b>Scout</b>
			<ul>
				<li>High Speed - Doesn't cost health.</li>
				<li>Double Jumping</li>
				<li>Low HP</li>
				<li>Hit scan</li>
				<li>Close range</li>
				<li>Single Target</li>
				<li>Single target throw ables</li>
				<li>Debuff</li>
				<li>Margin of Error: medium</li>
			</ul>
			<p></p>
			<b>Soldier</b>
			<ul>
				<li>Explosives</li>
				<li>Hitscan</li>
				<li>Straight Line Projectiles</li>
				<li>Explode on Impact</li>
				<li>Explosive jumping</li>
				<li>Splash Target</li>
				<li>Buff</li>
				<li>Margin of Error: medium</li>
			</ul>
			<p></p>
			<b>Pyro</b>
			<ul>
				<li>Fire</li>
				<li>Close Range</li>
				<li>Crowd Control</li>
				<li>Instant damage</li>
				<li>Splash Target</li>
				<li>Anti-Fire</li>
				<li>Particle based</li>
				<li>Margin of Error: low</li>
			</ul>
			<p></p>
			<b>Demoman</b>
			<ul>
				<li>Explosives</li>
				<li>Arced projectiles</li>
				<li>Explode on Impact with players or buildings</li>
				<li>Explode on timing</li>
				<li>Explode on manual player input</li>
				<li>Explosive jumping</li>
				<li>Area Denial</li>
				<li>Margin of Error: medium</li>
			</ul>
			<p></p>
			<b>Engineer</b>
			<ul>
				<li>Buildings</li>
				<li>Burst damage</li>
				<li>Area denial</li>
				<li>Crowd control</li>
				<li>Logistics</li>
				<li>Healing</li>
				<li>Hitscan</li>
				<li>Explosives</li>
				<li>Margin of Error: medium</li>
			</ul>
			<p></p>
			<b>Heavy</b>
			<ul>
				<li>Low Speed</li>
				<li>Spin up</li>
				<li>Constant Damage</li>
				<li>Burst damage</li>
				<li>Big Health</li>
				<li>Hitscan</li>
				<li>Margin of Error: high</li>
			</ul>
			<p></p>
			<b>Medic</b>
			<ul>
				<li>Healing</li>
				<li>Stalemate breaker</li>
				<li>Team Enhancer</li>
				<li>Sustain</li>
				<li>Uber</li>
				<li>Arced Projectile</li>
				<li>Margin of Error: Low</li>
			</ul>
			<b>Sniper</b>
			<ul>
				<li>Long range</li>
				<li>Charge time</li>
				<li>Instant kill (any range)</li>
				<li>Debuff</li>
				<li>Hitscan</li>
				<li>Penetrate</li>
				<li>Burst damage</li>
				<li>Margin of Error: High</li>
			</ul>

			<p></p>
			<b>Spy</b>
			<ul>
				<li>Close range</li>
				<li>Deception</li>
				<li>Instant kill (close range)</li>
				<li>Hitscan</li>
				<li>Anti-building</li>
				<li>Margin of Error: High</li>
			</ul>
			<p></p>


			<div class="section_header">Margin of Error:</div>
			<div class="ta-center"><i>How much a mistake impacts each class</i></div>


			<p></p>
			Margin of Error: Low Example
			<li> Heavy's minigun shoots in a wide circle and only needs to be pointed at an enemy. Corrections to the
				aim are made fairly easily, allowing for many mistakes while still doing decent damage.</li>
			<p></p>
			Margin of Error: Medium Example
			<li> Soldiers or Demomen having an explosion radius can still make them do decent damage, even if the
				rockets/bombs don't hit the center of the target. This allows them to get some consistent damage, even
				when not hitting perfect shots.</li>
			<p></p>
			Margin of Error: High Example
			<li>The Sniper's Sniper rifle will do no damage to anything if he misses, basically rendering him useless
			</li>
			<li>If a Spy is found out before getting a backstab, the spy will get killed and not killed anyone,
				basically rendering him useless.</li>
			</ul>
		</div>
		<div class="col col-0_5"></div>
	</div>
</div>
