---
title: Welcome to the Balance Mod!
container: true
excerpt: "Weapon stat changes"
margin: false
layout: classic
css:
- backpack.css
- balance.css
- chalkboard.css
---
{% assign mercNames = mercs|map:0 %}
{% assign newm = mercs[mer] %}
{% assign slots = "primary secondary melee pda pda2 sapper"|split:" " %}
{% assign ignoreAtt = "name slot image changed why weaponType"|split:" " %}

<script>
	//if in game
	if (window.location.href.includes('#statsmenu')) {
		// location.href = "/chalkboard"
		document.body.parentElement.classList.add("in-game")
	}
</script>

<!-- <script async src="{{site.url}}/assets/scripts/backpack.js"></script> -->
<div>
	{% for item in backpack %}
	<link href="{{site.assets.folder}}/images/backpack/{{ item }}" rel="prefetch">
	{% endfor %}
</div>
<div class="center">Note: Some stats may appear entirely differently when inspected in-game, or not display at all. Say
	/o in chat to see stats in-game</div>
<a id="statsmenu"></a>
<a id="class-list"></a>
<div class="bmod-section center">If you want a searchable list of all the changed items, check the
	<a href="{{site.url}}/balance">Update List</a>
</div>
<div id="bmod-moddedweapons">
	<div class="class-choices js-only">
		<center>
			<ul class="class-grid">
				{% for merc in mercs %}
				<li>
					{%- comment -%}Incase the icon property gets removed from mercs.json{%- endcomment -%}
					{% capture default_icon %}
					{{site.assets.folder}}/images/class_icons/Leaderboard_class_{{merc[0]}}.png
					{% endcapture %}
					<a class="class-button" href="#class-list"
						onclick="document.getElementById('item-showcase').dataset.merc ='{{merc[0]}}'"><img
							class="class-button-image" alt="{{merc[0]}}"
							src="{{merc[1].icon | default: default_icon}}"></a>
				</li>
				{% endfor %}
			</ul>
		</center>
	</div>

	{% include modded-weapons-noscript.html, slots: slots %}


	<div class="layout" id="item-showcase">
		<div class="item-choices col col-2">
			<div class="item-grid">
				{% comment %}blop{% endcomment %}
				{% for slot in slots %}
				{% comment %}get weapons of slot{% endcomment %}
				{% for wepData in newweapons %}
				{%- comment -%}["wepid",{wepData}]{%- endcomment -%}
				{% assign wepId = wepData[0] %}
				{% assign wep = wepData[1] %}
				{% if forloop.first %}
				<div
					class="{% for mer in mercs %}{% unless mer[1][slot] == "" %}{{mer[0]}} {% endunless %}{% endfor %}">
					<!-- &nbsp;&nbsp;&nbsp;{{slot}} -->
					<h2>{{slot}}</h2>
					<ul>
						{% endif %}
						{% assign slot_is_array=wep.slot|is_array %}
						{% if wep.slot == slot or slot_is_array and wep.slot contains slot %}
						<li
							class="{% for mer in mercs %}{% if mer[1][slot] contains wepId %}{{mer[0]}} {% endif %}{% endfor %}">
							<div class="item-button"
								onclick="document.getElementById('item-showcase').dataset.wep ='{{wepId}}'">
								<img class="item-button-image" src="{{wep.image}}" alt="{{wepId}}">
								{% if wep.changed != 0 %}
								<div class="new-text{% if wep.changed != 1 %} {{wep.changed}}{%endif%}">New!</div>
								{% endif %}
							</div>
						</li>
						{% endif %}
						{% if forloop.last %}
					</ul>
				</div>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</div>
		</div>
		<table id="sidebar-constraint" class="col col-1">
			<tr>
				<td>
					<div class="stat-item-wrapper">
						<div class="stat-item-box">

							{% for wep in newweapons %}
							<center class="{{wep[0]}}">
								<div class="stat-item-preview">
									<img alt="{{wep[0]}}" height="90" src="{{wep[1].image}}" width="90">
									<div class="compare">
										<button id="c-btn"
											onclick="let ds = document.getElementById('item-showcase').dataset;ds.ch=ds.ch=='changed'?'old':'changed'"><img
												src="{{site.assets.folder}}/images/cycle.webp"></button>
										<button id="c-btn"
											onclick="let ds = document.getElementById('item-showcase').dataset;ds.ch=ds.ch=='changed'?'mm':'changed'"><img
												src="{{site.assets.folder}}/images/cycle.webp"></button>
									</div>
								</div>
							</center>
							{% endfor %}

							{% for wep in newweapons %}
							<div class="stat-item-infobox changed {{wep[0]}}">
								<div class="att-name">{{wep[1].name}}</div>
								<div class="stat-item-description">
									{% for att in wep[1] %}
									{% unless ignoreAtt contains att[0] %}
									{% if att[1] and att[1] != "" %}
									<div class="att-{{att[0]}}">
										<ul>
											{% include class-based-info.html, value: att[1], value-wrapper: "li" %}
										</ul>
									</div>
									{% endif %}
									{% endunless %}
									{% endfor %}
								</div>
							</div>


							{% endfor %}

							{% for wep in defaultweapons %}
							<div class="stat-item-infobox old {{wep[0]}}">
								<div class="att-name">{{wep[1].name}}
									(Old)</div>
								<div class="stat-item-description">
									{% for att in wep[1] %}
									{% unless ignoreAtt contains att[0] %}
									{% if att[1] and att[1] != "" %}
									<div class="att-{{att[0]}}">
										<ul>
											{% include class-based-info.html, value: att[1], value-wrapper: "li" %}
										</ul>
									</div>
									{% endif %}
									{% endunless %}
									{% endfor %}
								</div>
							</div>

							{% endfor %}



							{% for wep in mmweapons %}
							<div class="stat-item-infobox mm {{wep[0]}}">
								<div class="att-name">{{wep[1].name}}</div>
								<div class="stat-item-description">
									{% for att in wep[1] %}
									{% unless ignoreAtt contains att[0] %}
									{% if att[1] and att[1] != "" %}
									<div class="att-{{att[0]}}">
										<ul>
											{% include class-based-info.html, value: att[1], value-wrapper: "li" %}
										</ul>
									</div>
									{% endif %}
									{% endunless %}
									{% endfor %}
								</div>
							</div>


							{% endfor %}
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>

					{% for wep in newweapons %}
					{% if wep[1].why and wep[1].why !="" %}
					{% capture value_wrapper_attribs %}class="why-box {{ wep[0] }}"{% endcapture %}
					{% include class-based-info.html, value: wep[1].why, value-wrapper: "div", merc-wrapper: "span",
					value-wrapper-attribs: value_wrapper_attribs %}
					{% endif %}
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
</div>