---
title: Hello world
---

<p>Hello this is some text.</p>

<h2>lists</h2>
<ul>
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
</ul>
<ol>
	<li>hello</li>
	<li>hello</li>
	<li>hello</li>
</ol>

<h2>Message Boxes</h2>
this is on the wiki so why not bring them to the website too
<div class="bmod-message-box">Hello World</div>
<div class="bmod-message-box bmod-message-box-warning">Hello World</div>
<div class="bmod-message-box bmod-message-box-error">Hello World</div>
<div class="bmod-message-box bmod-message-box-success">Hello World</div>

<h2>Buttons and links</h2>

<a href="http://example.com">Link</a>
<a href="#" id="t">Anchor</a>
<a href="#">Empty Link</a>
<a href="http://example.com" class="btn">Link Button</a>
<button>Button</button>
<input type="button" value="Button Input">
<input type="submit" value="Submit">
<input type="reset" value="Reset">