---
---
<div class="container">
	<div class="section_header">Dragon's Fury</div>
	<div class="ta-center"><i>No longer crippling</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/dragonsfury.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			Removed:
			<ul>
				<li><s>Air blast penalty</s></li>
				<p></p>
			</ul>
			Added:
			<ul>
				<li>Increased afterburn duration by 100%</li>
				<li>-25% decreased airblast push force</li>
			</ul>
			<p></p>
			Fixed:
			<ul>
				<li>The bug where other projectiles would remove The Dragon's Fury projectile</li>
			</ul>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official Dragon's Fury is not very forgiving.</div>
			<div>Not being able to airblast naturally severely restricts your playstyle.</div>
			<div>
				The sheer inconsistency of the fire projectile combined with the bug of it just
				<div>
					disappearing on other projectiles made this weapon so bad.
				</div>
			</div>
			<div>
				The added damage helps with the inconsistent nature of the weapon.<i> (highs and lows)</i>
				<div></div>
			</div>
			<div class="col col-0_5"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Thermal Thruster</div>
	<div class="ta-center"><i>No more intense planning required</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/thermalthruster.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			Removed:
			<ul>
				<li>
					<s>
						Hidden 50% more push force taken from damage
				</li>
				<li>Holstering penalty</li></s>
			</ul>
			<p></p>
			Added:
			<ul>
				<li>15% Faster recharge time</li>
			</ul>
			<p></p>
			</ul>
			<div>Why?</div>
			<div>The official Thermal Thruster requires extreme planning to be useful.</div>
			<div>We've found that the strange holstering speed is really off putting and can</div>
			<div>really mess up your timings as pyro, which is why it's not getting much use</div>
			<div>and why thermal thruster pyro's in general are not very threatening, but now they are.</div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">The Gas Passer</div>
	<div class="ta-center"><i>Gas Gas Gas</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/gaspasser.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			Added:
			<ul>
				<li>Ignited enemies explode</li>
				<li>Explosions deal 45 damage in addition to full afterburn duration.</li>
				<li>Projectile speed now matches jarate and mad milk</li>
				<li>This weapon deploys 15% slower</li>
				<p></p>
			</ul>
			Bugfix:
			<ul>
				<li>Fixed projectile going through walls in certain situations</li>
			</ul>
			<div>Why?</div>
			<div>The official Gas Passer is so bad that even if you constantly had it, it would still not be good.</div>
			<div>Taking a page of out of th MvM upgrade, it now behaves the same, but with less damage.</div>
			<div>In it's current state it's good when enemies are clustered together for a huge cascading boom festival
			</div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">The Hot Hand</div>
	<div class="ta-center"><i>Speedy slaps</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/hothand_glove.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			Added:
			<ul>
				<li>While weapon is active:</li>
				+15% move speed on wearer
				<li>Gain a speed boost when you hit an enemy player</li>
				<li>-20% Damage done</li>
				<li>+20% More damage taken</li>
				<p></p>
			</ul>
			<div>Why?</div>
			<div>The Hot hand saw very little use with the official stats.</div>
			<div>In this mod, we've given it the speed from the powerjack, which can stack with the additional speed
				from the slap. The slap for additional speed is really useful when combined. It will provide higher
				skill ceilings for Pyro's to master in close combat.</div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">
		<h1>Quality of Life Improvements</h1>
	</div>
	<div class="layout">
		<div class="col col-1"></div>
		<div class="col col-2">
			<div>We didn't stop on buffing Jungle Inferno weapons, but much of the pyro's underused and pretty bad
				arsenal.</div>
		</div>
		<div class="col col-1"></div>
	</div>
</div>
<div class="container">
	<div class="section_header">Detonator</div>
	<div class="ta-center"><i>Improved mobility</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/detonator.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			<div>Changed:</div>
			<ul>
				<li>Self damage taken reduced from -50% to -35%</li>
				<li>-50% afterburn damage</li>
			</ul>
			<p></p>
			</ul>
			<div>Why?</div>
			<div>With the introduction of the Thermal Thruster, this item is seeing less use.</div>
			<div>By doing less self damage, it allows the pyro to make more mobility jumps in general.</div>
			<div>Which is what Pyro needs in his arsenal, more good tools that helps pyro do pyro things</div>
			<div><i>(Getting close and burning stuff!)</i></div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">Manmelter</div>
	<div class="ta-center"><i>Capable of melting manns</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/manmelter.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>20% faster firing speed</li>
				<li>25% more damage done</li>
				<li>40% faster deploy speed</li>
			</ul>
			<div>Removed:</div>
			<ul>
				<s>
					<li>Faster 50% faster projectile speed.</li>
				</s>
			</ul>
			<p></p>
			</ul>
			<div>Why?</div>
			<div>This weapon relied on the enemy doing something. <i>(Having a pyro)</i> to be the same as the flare
				gun.</div>
			<div>Instead of nerfing the flare gun we're boosting the overall usefulness of this, where in the rare cases
				where you do happen to store a crit, it will be significant.</div>
			<div>Since the Manmelter has no reload animation, shooting repeatedly is really weird, so the faster firing
				speed helps mitigate that.</div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">The Scorch Shot</div>
	<div class="ta-center"><i>Not quite as annoying</i></div>
	<div class="layout">
		<div class="col col-0_5"></div>
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/scorchshot.webp" alt="Generic Image"
				style="transform: rotate(+2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>20% slower projectile speed</li>
				<li>-25% afterburn duration</li>
			</ul>
			<p></p>
			</ul>
			<div>Why?</div>
			<div>It was too easy as a pyro to just keep enemies at the front line constantly on fire.</div>
			<div>The slower projectile makes the second bounce take longer to land, meaning people have more time to
				avoid it.</div>
		</div>
	</div>
	<div class="col col-0_5"></div>
</div>
<div class="container">
	<div class="section_header">Fire Axe</div>
	<div class="ta-center"><i>Applies to all-class re-skins for Pyro</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/fireaxe.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>Reveals disguised spies on hit</li>
				<li>40% faster global weapon switch speed</li>
			</ul>
			<div>Why?</div>
			<div>With all the other utility the pyro has for melee, doing 65 damage is not that appealing.</div>
			<div>The faster global weapon switch speed allows you to run any flamethrower where you would have run
				perma-Degreaser.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Homewrecker</div>
	<div class="ta-center"><i>Applies to maul</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/homewrecker.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>-40% less push force taken from damage</li>
				<li>Attacks pierce damage resistance effects and bonuses</li>
			</ul>
			<div>Why?</div>
			<div>The homewrecker offers very little other than removing sappers for engineers.</div>
			<div>While in the response category, it will now hammer through wrangled sentry shields.</div>
			<div>The less push back will help close the distance on sentries.</div>
			<div>Airblast vulnerability remains the same.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Neon Annihilator</div>
	<div class="ta-center"><i>KGB for the pyro</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/neon.webp" alt="Generic Image" style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<li>On kill gain 5 seconds of guaranteed mini-crits</li>
				<li>Players coated in gas counts as wet (when not on fire)</li>
			</ul>
			<div>Why?</div>
			<div>Similar to the homewrecker, this weapon offers very little utility compared to other pyro melee
				unlocks.</div>
			<div>The lack of water on most maps doesn't make "pyro sharking" very viable.</div>
			<div>The new guaranteed crits on melee kill mechanic suits pyro's "in your face" playstyle really well.
				Allowing for some great combo kills off of it.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Sharpened Volcano Fragment Rework</div>
	<div class="ta-center"><i>Nuke on a stick</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/sharpened.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Removed:</div>
			<ul>
				<div>
					<li><s>-20% damage penalty</s></li>
				</div>
			</ul>
			<p></p>
			<div>Added:</div>
			<ul>
				<li>-90% damage done to non-burning targets</li>
				<li>On hit: lights target on fire</li>
				<li>On burning target hit: Mini-crits target and causes small explosion dealing damage and lights nearby
					enemies on fire for. Ignores resistances.</li>
			</ul>
			<div>Why?</div>
			<div>The Sharpened Volcano fragment is by far the most useless melee for pyro. It only lights enemies on
				fire, which is something the flamethrower and any flare gun does for more damage and further away. If
				enemies are within explosion radius, this melee has the DPS potential of the regular flamethrower if
				used correctly. You can also combo off the others catching fire from the explosion, making you a melee
				maniac, very fitting for Pyro. It looks cool and now it plays cool. <i>BOOM!</i></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Axtinguisher</div>
	<div class="ta-center"><i>Easier to use</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/axtinguisher.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Removed:</div>
			<ul>
				<div>
					<li><s>Slower holster penalty</s></li>
				</div>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>Holstering penalties can be negated completely by switching to another weapon before the intended
				weapon quickly.</div>
			<div> Press 3 -> 1 = You get penalty</div>
			<div> Press (really quickly) 3->2->1 = You don't get any penalty.</div>
			<div>All holstering penalties have been removed from the game in this mod.</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Back scratcher</div>
	<div class="ta-center"><i>Flanking self-healing tool</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/backscratcher.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Added:</div>
			<ul>
				<div>
					<li>While active: Health kits overheal</li>
				</div>
			</ul>
			<p></p>
			<div>Why?</div>
			<div>The official back scratcher left much to be desired.</div>
			<div>While already making good use of health packs when taking damage, allowing pyro to overheal off health
				packs
				makes solo flanking pyro a lot more durable in fight and therefore this weapon a lot more viable for
				this type of play style.
				Health packs also includes lunch box items.
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section_header">Powerjack</div>
	<div class="ta-center"><i>Healbeam boost</i></div>
	<div class="layout">
		<div class="col col-1">
			<img src="{{site.assets.folder}}/images/powerjack.webp" alt="Generic Image"
				style="transform: rotate(-2deg)">
		</div>
		<div class="col col-2">
			<div>Removed:</div>
			<ul>
				<li><s>Faster run speed</s></li>
				<li><s>Damage vulnerability</s></li>
			</ul>
			<p></p>
			<div>Added:</div>
			<ul>
				<li>50% of base health restored on kill</li>
				<li>20% slower firing speed</li>
				<li>225% more healing from all healbeam sources</li>
				<li>Only when active</li>
			</ul>
			<div>Why?</div>
			<div>Similar to the escape plan was when it was both the equalizer and escape plan in one.</div>
			<div>This item offers too much versatility for the Pyro and remains a must-pick for all pyro's</div>
			<div>This is the opposite function of the back scratcher, where you get a lot more survivability from heal
				beams. Sacrifice mobility for higher sustain from medics and dispensers.</div>
		</div>
	</div>
</div>