---
title: Servers
container: false
layout: default
show_categories: false
list: false
js:
  - servers-old.js
---
<p>If for whatever reason this doesn't work, try out <a href="https://teamwork.tf/community/customserverlist/51">teamwork.tf</a></p>

<p>New <a href="/servers">servers page</a> coming soon</p>
<style>
	#bmod-serverlist-form {
		display: grid;
		grid-template-areas: "host region checks"
		"mode map search" ;
	}
</style>
{% comment %}
<form id="bmod-serverlist-form" action="{{site.url}}{{page.url}}" method="get">
	<select name="gamemode" id="bmod-serverlist-filter-gamemode" >
		<option value="" selected>Gamemode</option>
		<!-- get_server_options -->
		{% assign options = nil %} 
		
		{% for option in options %}
		<option value="{{option}}">{{option}}</option>
		{% endfor %}
	</select>
	<select name="region" id="bmod-serverlist-filter-region" >
		<option value="" selected>Region</option>
		<!-- get_server_options -->
		{% assign options = nil  %}
		{% for option in options %}
		<option value="{{option}}">{{option}}</option>
		{% endfor %}
	</select>

	<div>
		<input type="checkbox" name="notfull" id="bmod-serverlist-filter-notfull" >
		<label for="bmod-serverlist-filter-notfull">Not Full</label>
		<input type="checkbox" name="notempty" id="bmod-serverlist-filter-notempty" >
		<label for="bmod-serverlist-filter-notempty">Not Empty</label>
		<input type="submit" value="Search" class="btn">

	</div>
	<select name="mode" id="bmod-serverlist-filter-mode" >
		<option value=""  selected>Mode</option>
		<!-- get_server_options -->
		{% assign options = nil  %}
		{% for option in options %}
		<option value="{{option}}">{{option}}</option>
		{% endfor %}</select>
	<select name="map" id="bmod-serverlist-filter-map" >
		<!-- get_server_options -->
		{% assign options = nil  %}
		<option value=""  selected>Map</option>
		{% for option in options %}
		<option value="{{option}}">{{option}}</option>
		{% endfor %}</select>
	<input type="hidden" name="sort" id="bmod-serverlist-sort">
</form>
{% endcomment%}
<table class="bmod-server-list">
	<thead>
		<tr>
			<th  id="bmod-serverlist-column-region" >Region</th>
			<th id="bmod-serverlist-column-regionId" ></th>
			<th id="bmod-serverlist-column-mode" >Mode</th>
			<th id="bmod-serverlist-column-map" >Map</th>
			<th id="bmod-serverlist-column-players" >Players</th>
			<th id="bmod-serverlist-column-ip"  >Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for s in servers %}{% assign server=s[1] %}

		<tr id="server-{{server.ip}}" data-gamemode="{{server.shortgamemode}}">
			<!-- Region -->
			<td data-value="{{server.region}}"><img src="{{regions[server.region].icon}}"
					alt="{{server.region}}"></td>
			<td data-value="{{server.regionId}}">{{server.regionId}}</td>
			<td data-value="{{server.shortmode}}">{{server.mode}}</td>
			<td data-value>Querying Map...</td>
			<td>{% if server.maxPlayers %}Up to {{server.maxPlayers}}{% else %}Querying...{% endif %}</td>
			<!-- IP:Port -->
			<td data-value="{{server.ip}}">
				<pre>{{server.ip}}</pre>
			</td>
			<!-- Join Link -->
			<td >
				<a href="#"
				onclick="prompt('Here you go','{{server.ip}}')"
					class="btn font-tf2 js-only">&#x1F4CB;&#xfe0e</a>
				<a href="steam://connect/{{server.ip}}" class="btn btn-green font-tf2">&#9658;</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
