---
layout: navpage
---


<aside id="bmod-sidenav" class="hide-mobile">
	<div id="sidenav-posts">
		{% for item in nav.sidenav.top %}
		<a href="{{item.href}}" class="btn trans show-medium {% if page.url contains item.href %}active{% endif %}">
			{% if item.image %}<img src="{{ item.image }}" alt="">{%endif%}
			{% if item.icon %}<i class='mdi mdi-{{item.icon}}'></i>{%endif%}
			{{item.title}}
		</a>
		{% endfor %}
		{% for item in nav.sidenav.top %}

		<a href="{{item.href}}" class="hide-medium {% if page.url contains item.href %}active{% endif %}" >
			{% include item-card.html, icon: item.image, title: item.title,tags:null %}
		</a>
		{% endfor %}
	</div>
	<div id="sidenav-changes">
		{% for item in nav.sidenav.bottom %}
		<a href="{{item.href}}" class="btn trans show-medium {% if page.url contains item.href %}active{% endif %}">
			{% if item.image %}<img src="{{ item.image }}" alt="">{%endif%}
			{% if item.icon %}<i class='mdi mdi-{{item.icon}}'></i>{%endif%}
			{{item.title}}
		</a>
		{% endfor %}
		{% for item in nav.sidenav.bottom %}

		<a href="{{item.href}}" class="hide-medium {% if page.url contains item.href %}active{% endif %}" >
			{% include item-card.html, icon:item.image, title: item.title,tags:null %}
		</a>
		{% endfor %}
	</div>
</aside>
<main>
	{{content}}
</main>


{% if show-servers %}
<aside id="bmod-server-list" class="hide-mobile">
		{% include server-list.html %}
</aside>
{% endif %}


<footer>
	{% include mobile-tabs.html %}
	{% include action-buttons.html %}
</footer>