---
layout: navpage
---
<main>
	<div class="container">
		{% include gps-stoopid.html %}
		{% include bmod-welcome.html %}
		{% include bmod-article.html, item: page, item_title:title, item_content: content, item_date:page.date, item_author: author, have_content: true, header:"h1", have_date:have_date %}
		{% comment %} TODO: Category tabs {% endcomment %}
		{% include category-tabs.html %}
		{% if list or posts %}
		<div id="bmod-list">
			{% include list.html, collection: list.collection,
			filter: list.filter, limit: list.limit, have_title: list.title,
			have_date:list.date,
			have_content: list.content, have_excerpt: list.excerpt %}
		</div>
		{% endif %}
	</div>
</main>
	
{% include bmod-footer.html %}