<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="manifest" href="/assets/manifest.json">
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/assets/scripts/service-worker.js')
				.then((registration) => {
					console.log('Service Worker registered with scope:', registration.scope);
				})
				.catch((error) => {
					console.error('Service Worker registration failed:', error);
				});
			});
			}
	</script>
{% include seo.html %}
	{% include prefetch.html %}
	{% include css.html %}
</head>
<body>
	{{content}}
	{% include js.html %}

	{% if toc %}
	{% include analytics.html %}
	<script>
		anchors.options.placement = "left";
		anchors.add();
	</script>
	{% endif %}
	<script>
		Array.from(document.getElementsByClassName("js-only")).forEach(element => {
			element.classList.remove("js-only");
		});

		if("__TAURI__" in window)
		Array.from(document.getElementsByClassName("tauri-only")).forEach(element => {
			element.classList.remove("tauri-only");
		}) 
		else if ('serviceWorker' in navigator)
		Array.from(document.getElementsByClassName("pwa-only")).forEach(element => {
			element.classList.remove("pwa-only");
		});
	</script>
</body>
</html>